<footer class="home footer" style="margin-top:0;">
    <div class="container">
        <h4><%= t('Welcome to Asoview 1') %></h4>
        <h4><%= t('Welcome to Asoview 2') %></h4>
        <div class="row">
            <div class="center-block">
                <div class="umbraco-forms-form newsletter umbraco-forms-News Letter Theme">
                    <div class="form-horizontal">
                        <div class="row">
                            <div class="col-md-12">
                                <a class="more-information-btn" href="/contact"><%= t('More Information') %></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer_btm">
            <div class="footer_navigator">
                <dd><a href="/about-us"><%= t('ABOUT US') %></a></dd>
                <dd><a href="/services"><%= t('SERVICES') %></a></dd>
                <dd><a href="/news"><%= t('NEWS') %></a></dd>
                <dd class="footer_navigator_logo">
                    <a href="/"><img width="50px" src="/images/logo.svg" alt="asoviewvn Logo"></a>
                </dd>
                <dd><a href="/staff"><%= t('STAFF') %></a></dd>
                <dd><a href="/career"><%= t('CAREERS') %></a></dd>
                <dd><a href="/contact"><%= t('CONTACT') %></a></dd>
            </div>
            <p>© 2018 ASOVIEW Viet Nam</p>
        </div>
    </div>
</footer>