<!DOCTYPE html>
<html>
<%- include('../../fragment/head') %>
<body>
<div class="l-container">
    <%- include('../../fragment/loading') %>
    <%- include('../../fragment/header') %>
    <div class="l-contents">
        <div class="recruit-list">

        </div>
    </div>
    <%- include('../../fragment/footer') %>
</div>
<%- include('../../fragment/common-scripts') %>
</body>
</html>