<!DOCTYPE html>
<html>
<%- include('../fragment/head') %>
<body>
<div class="l-container">
    <%- include('../fragment/loading') %>
    <%- include('../fragment/header') %>
    <div class="l-contents">
        <div class="about-us_top-background">
        </div>
        <section class="section about-us">
            <div class="container">
            <div>
                <h3 class="about-us_title"><%= t('ABOUT US') %></h3>
            </div>
            <div class="formation">
                <p><%= t('About us content') %></p>
            </div>
            <div class="row nopadding our-mission" data-aos="fade-right">
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 nopadding our-mission-text">
                    <div class="our-mission-text_child">
                        <h3><%= t('Our mission') %></h3>
                        <p><%= t('Our mission content') %></p>
                    </div>
                </div>
                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 nopadding our-mission-image">
                    <div class="flex">
                        <div class="our-mission-image_left">
                            <img src="https://i.imgur.com/WbKOnIg.jpg">
                            <img src="https://i.imgur.com/F2slmtf.jpg">
                        </div>
                        <img class="our-mission-image_right" src="https://i.imgur.com/c8eZN1O.jpg"/>
                    </div>
                </div>
            </div>
            <div class="company-info" data-aos="fade-up">
                <h3><%= t('Company Info') %></h3>
                <div>
                    <table width="100%">
                        <tr>
                            <td><%= t('Company name') %></td>
                            <td><%= t('Company name1') %></td>
                        </tr>
                        <tr>
                            <td width="30%"><%= t('Business description') %></td>
                            <td width="70%"><%= t('Business description1') %>
                            </td>
                        </tr>
                        <tr>
                            <td><%= t('Establishment') %></td>
                            <td><%= t('Establishment1') %></td>
                        </tr>
                        <tr>
                            <td><%= t('Number of Employees') %></td>
                            <td><%= t('Number of Employees1') %></td>
                        </tr>
                        <tr>
                            <td><%= t('Representative') %></td>
                            <td><%= t('Representative1') %></td>
                        </tr>
                        <tr>
                            <td><%= t('Address') %></td>
                            <td><%= t('Address1') %></td>
                        </tr>
                        <tr>
                            <td><%= t('phone') %></td>
                            <td><%= t('phone1') %></td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="nopadding achievements" data-aos="fade-up">
                <div>
                    <h3><%= t('Achievements') %></h3>
                </div>
                <p><%= t('Achievements1') %></p>
                <p><span><i class="fas fa-circle"></i></span><%= t('Achievements2') %></p>
                <p><span><i class="fas fa-circle"></i></span><%= t('Achievements3') %></p>
                <p><span><i class="fas fa-circle"></i></span><%= t('Achievements4') %></p>
                <p><span><i class="fas fa-circle"></i></span><%= t('Achievements5') %></p>
            </div>
            <div>
                <h3 style="margin: 40px 0; margin-top: 100px">
                    <%= t('Carrer Infor') %>
                </h3>
            </div>
            <div class="row nopadding career-info">
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 nopadding" data-aos="fade-right">
                    <div class="career-info-wrapper">
                        <a href="/staff">
                            <img class="career-info-img" src="https://i.imgur.com/kn7cC5p.jpg">
                            <div class="career-info-title career-info-title_member">
                                <span><%= t('Carrer Infor1') %></span>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 nopadding" data-aos="fade-left">
                    <div class="career-info-wrapper">
                        <a href="/career">
                            <img class="career-info-img" src="https://i.imgur.com/WysCInt.jpg">
                            <div class="career-info-title career-info-title_career">
                                <span><%= t('Carrer Infor2') %></span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            </div>
        </section>
    </div>
    <%- include('../fragment/footer') %>
</div>
<%- include('../fragment/common-scripts') %>

</body>
</html>