<!DOCTYPE html>
<html>
<%- include('../fragment/head') %>
<body>
<div class="l-container">
    <%- include('../fragment/loading') %>
    <%- include('../fragment/header') %>
    <div class="l-contents">
        <div class="about-us_top-background">
        </div>
        <section class="section about-us">
            <div>
                <h3 class="about-us_title">About Us</h3>
            </div>
            <div class="formation">
                <p>Established on March 14, 2011. At present, asoview has grown up to 150 members.</p>
                <p>Headquarter JIK building 3F, 2-2-7 Jingumae, Shibuya, Tokyo Japan.</p>
                <p>We create products and services, apply modern technology</p>
                <p>to serve the entertainment needs of everyone</p>
            </div>
            <div class="row nopadding our-mission" data-aos="fade-right">
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 nopadding our-mission-text">
                    <div class="our-mission-text_child">
                        <h3>Our Mission</h3>
                        <p>Our mission is excitement for everyone. </p>
                        <p>
                            We would like to deliver “Waku Waku” to the world, and make a contribution for “Leisure ×
                            Tech” in the world.
                        </p>
                    </div>
                </div>
                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 nopadding our-mission-image">
                    <div class="flex">
                        <div class="our-mission-image_left">
                            <img src="https://i.imgur.com/WbKOnIg.jpg">
                            <img src="https://i.imgur.com/F2slmtf.jpg">
                        </div>
                        <img class="our-mission-image_right" src="https://i.imgur.com/c8eZN1O.jpg"/>
                    </div>
                </div>
            </div>
            <div class="company-info" data-aos="fade-up">
                <h3>Company Information</h3>
                <div>
                    <table width="100%">
                        <tr>
                            <td>Company name</td>
                            <td>Asoview VietNam Co., Ltd</td>
                        </tr>
                        <tr>
                            <td width="30%">Business description</td>
                            <td width="70%">Internet service business, marketing promotion support business, ERP
                                business,
                                consulting business
                            </td>
                        </tr>
                        <tr>
                            <td>Establishment</td>
                            <td>July 04, 2018</td>
                        </tr>
                        <tr>
                            <td>Number of Employees</td>
                            <td>20</td>
                        </tr>
                        <tr>
                            <td>Representative</td>
                            <td>Daisuke Negishi</td>
                        </tr>
                        <tr>
                            <td>Address</td>
                            <td>3 Level, EBM Tower, 394 Ung Văn Khiêm Street, 25 Ward, Bình Thạnh District, TP.HCM</td>
                        </tr>
                        <tr>
                            <td>Phone</td>
                            <td>028 7109 9837</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="nopadding achievements" data-aos="fade-up">
                <div>
                    <h3>Achievements</h3>
                </div>
                <p>Asoview Company Group is Japan’s largest provider of activities:</p>
                <p><span><i class="fas fa-circle"></i></span>Over 6,000 local partners.</p>
                <p><span><i class="fas fa-circle"></i>Over 4,100 instant booking options are available.</p>
                <p><span><i class="fas fa-circle"></i>Around 430 categories of activities.</p>
                <p><span><i class="fas fa-circle"></i>Over 19,000 options.</p>
                <p><span><i class="fas fa-circle"></i>We have been broadcast 3 times in “World Business Satellite,” which is the most popular TV program
                    among Japanese business people
                </p>
            </div>
            <div>
                <h3 style="margin: 40px 0; margin-top: 100px">
                    Career Information
                </h3>
            </div>
            <div class="row nopadding career-info">
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 nopadding" data-aos="fade-right">
                    <div class="career-info-wrapper">
                        <a href="/staff">
                            <img class="career-info-img" src="https://i.imgur.com/kn7cC5p.jpg">
                            <div class="career-info-title career-info-title_member">
                                <i>Members to work together >></i>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 nopadding" data-aos="fade-left">
                    <div class="career-info-wrapper">
                        <a href="/career">
                            <img class="career-info-img" src="https://i.imgur.com/WysCInt.jpg">
                            <div class="career-info-title career-info-title_career">
                                <i>Recruit information >></i>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <%- include('../fragment/footer') %>
</div>
<%- include('../fragment/common-scripts') %>
</body>
</html>