<!DOCTYPE html>
<html>
<%- include('../fragment/head') %>
<body>
<div class="l-container">
    <%- include('../fragment/loading') %>
    <%- include('../fragment/header') %>
    <div class="l-contents">
        <div class="about-us_top-background">
            <div class="about-us_top-background_motto">
                <h3>About Asoview</h3>
                <p>
                    Asoview is created for the purpose of companion and create the most enjoyable entertainment
                    experience for everyone. Endless passion for technology, content and services. With the constant
                    pursuit of creativity, it is our motivation to bring the user excitement and breakthrough
                    entertainment experience.
                </p>
            </div>
        </div>
        <section class="section about-us">
            <div class="row nopadding" data-aos="fade-right">
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 nopadding">
                    <img src="https://www.asoview.co.jp/wp-content/uploads/74ecc2f2304616980ddc1b202295c481.jpg"
                         alt="Website and E-Commerce Solutions">
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 nopadding column-center">
                    <h3>Formation process</h3>
                    <p>
                        Established on March 14, 2011. At present, asoview has grown up to 150 members, headquarter JIK building
                        3F, 2-2-7 Jingumae, Shibuya, Tokyo Japan.
                        We create products and services, apply modern technology to serve the entertainment needs of
                        everyone
                    </p>
                </div>
            </div>
            <div class="row nopadding mt-70" data-aos="fade-left">
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 nopadding column-center">
                    <h3>Achievements have been achieved</h3>
                    <p>Asoview Company Group is Japan’s largest provider of activities:</p>
                    <p>Over 6,000 local partners.</p>
                    <p>Over 4,100 instant booking options are available.</p>
                    <p>Around 430 categories of activities.</p>
                    <p>Over 19,000 options.</p>
                    <p>We have been broadcast twice in “World Business Satellite,” which is the most popular TV program
                        among Japanese business people. The news of the partnership with JTB and raising funds of 800
                        million in total were published in “Nihon Keizai Shimbun.“.
                    </p>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 nopadding">
                    <img src="https://www.asoview.co.jp/wp-content/uploads/755e8a8086ea17c09156406933a3ed27.jpg"
                         alt="Mobile App Development">
                </div>
            </div>
            <div class="row nopadding mt-70" data-aos="fade-right">
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 nopadding">
                    <img src="https://www.asoview.co.jp/wp-content/uploads/755e8a8086ea17c09156406933a3ed27.jpg"
                         alt="Mobile App Development">
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 nopadding column-center">
                    <h3>Vision in the future</h3>
                    <p>
                        Our mission is excitement for everyone.
                        We would like to deliver “Waku Waku” to the world,
                        and make a contribution for “Leisure × Tech” in the world.
                    </p>
                </div>
            </div>
        </section>
        <!--<div class="row about-us" id="first">-->
        <!--<div class="col-sm-6 img_sec ">-->
        <!--<div class="" data-aos="fade-right">-->
        <!--<img src="https://www.asoview.co.jp/wp-content/uploads/74ecc2f2304616980ddc1b202295c481.jpg"-->
        <!--alt="Website and E-Commerce Solutions">-->
        <!--<h6>We develop Ecommerce that is extremely beautiful, responsive and can boost your online-->
        <!--sales</h6>-->
        <!--</div>-->
        <!--</div>-->
        <!--<div class="col-sm-5 col-sm-push-1 left">-->
        <!--<h3>Website and E-Commerce Solutions</h3>-->
        <!--<p>asoviewvn Technologies is a leading website design and E-Commerce site-->
        <!--development company based in Dubai. Our portfolio demonstrates our-->
        <!--quality and flexibility. We provide high-quality development and-->
        <!--services at affordable prices. All our development is done in India and-->
        <!--Bangladesh, and many of Dubai’s top-rated design agencies use our-->
        <!--service because it is so cost-effective. If you plan to design/redesign-->
        <!--your website or launch an e-commerce platform, we are the best team to-->
        <!--give you design and development support.-->
        <!--</p>-->
        <!--</div>-->
        <!--</div>-->
        <!--<div class="row about-us" data-aos="fade-left">-->
        <!--<div class="col-sm-5 col-sm-pull-6 right">-->
        <!--<h3>Mobile App Development</h3>-->
        <!--<p>asoviewvn Technologies possess extensive experience in mobile application-->
        <!--development in IOS, Android, native and Html5 cross-platform apps. We-->
        <!--have developed apps like Uber/Careem (ride-sharing apps), consumer-->
        <!--service apps, music apps, property apps, e-commerce apps, spa service-->
        <!--apps and many others in the UAE, Saudi Arabia, Bahrain, USA, UK and-->
        <!--other countries. We can help you select the best technology for your-->
        <!--mobile app project.-->
        <!--</p>-->
        <!--</div>-->
        <!--<div class="col-sm-6 col-sm-push-6 img_sec2">-->
        <!--<div class="">-->
        <!--<img src="https://www.asoview.co.jp/wp-content/uploads/755e8a8086ea17c09156406933a3ed27.jpg"-->
        <!--alt="Mobile App Development">-->
        <!--<h6>We love creating extraordinary experiences for your mobile-->
        <!--consumers-->
        <!--</h6>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
    </div>
    <%- include('../fragment/footer') %>
</div>
<%- include('../fragment/common-scripts') %>
</body>
</html>