<!DOCTYPE html>
<html>
<%- include('../fragment/head') %>
<body>
<div class="l-container">
    <%- include('../fragment/loading') %>
    <%- include('../fragment/header') %>
    <div class="l-contents">
        <div class="row about-us" id="first">
            <div class="col-sm-6 img_sec ">
                <div class="" data-aos="fade-right">
                    <img src="https://www.asoview.co.jp/wp-content/uploads/74ecc2f2304616980ddc1b202295c481.jpg" alt="Website and E-Commerce Solutions">
                    <h6>We develop Ecommerce that is extremely beautiful, responsive and can boost your online sales</h6>
                </div>
            </div>
            <div class="col-sm-5 col-sm-push-1 left">
                <h3>Website and E-Commerce Solutions</h3>
                <p>asoviewvn Technologies is a leading website design and E-Commerce site
                    development company based in Dubai. Our portfolio demonstrates our
                    quality and flexibility. We provide high-quality development and
                    services at affordable prices. All our development is done in India and
                    Bangladesh, and many of Dubai’s top-rated design agencies use our
                    service because it is so cost-effective. If you plan to design/redesign
                    your website or launch an e-commerce platform, we are the best team to
                    give you design and development support.
                </p>
            </div>
        </div>
        <div class="row about-us" data-aos="fade-left">
            <div class="col-sm-5 col-sm-pull-6 right" >
                <h3>Mobile App Development</h3>
                <p>asoviewvn Technologies possess extensive experience in mobile application
                    development in IOS, Android, native and Html5 cross-platform apps. We
                    have developed apps like Uber/Careem (ride-sharing apps), consumer
                    service apps, music apps, property apps, e-commerce apps, spa service
                    apps and many others in the UAE, Saudi Arabia, Bahrain, USA, UK and
                    other countries. We can help you select the best technology for your
                    mobile app project.
                </p>
            </div>
            <div class="col-sm-6 col-sm-push-6 img_sec2">
                <div class="">
                    <img src="https://www.asoview.co.jp/wp-content/uploads/755e8a8086ea17c09156406933a3ed27.jpg" alt="Mobile App Development">
                    <h6>We love creating extraordinary experiences for your mobile
                        consumers
                    </h6>
                </div>
            </div>
        </div>
    </div>
    <%- include('../fragment/footer') %>
</div>
<%- include('../fragment/common-scripts') %>
</body>
</html>