<!DOCTYPE html>
<html>
<%- include('../fragment/head') %>
<body>
<div class="l-container">
    <%- include('../fragment/loading') %>
    <%- include('../fragment/header') %>
    <div class="l-contents">
        <div class="recruit-list">
            <a href="/career/backend">
                <div class="recruit-item animated" data-toggle="collapse" data-target="#item2" aria-expanded="true">
                    <h3 class="recruit-title">Java Team Leader</h3>
                    <p class="recruit-short-description">
                    <div><strong>Salary Offer:</strong> $1,500 - $2000</div>
                    <div><strong>Experience Level:</strong> Junior, Middle, Senior</div>
                    <div><strong>Total Years Experience:</strong> At least 3 year</div>
                    <div><strong>Education:</strong> University</div>
                    </p>
                </div>
            </a>
        </div>
    </div>
    <%- include('../fragment/footer') %>
</div>
<%- include('../fragment/common-scripts') %>
</body>
</html>