<!DOCTYPE html>
<html>
<%- include('../fragment/head') %>
<body>
<div class="l-container">
    <%- include('../fragment/loading') %>
    <%- include('../fragment/header') %>
    <div class="l-contents">
        <div class="recruit-list">
            <div class="recruit-item animated" data-toggle="collapse" data-target="#item1" aria-expanded="true">
                <h3 class="recruit-title">Java Junior/Senior</h3>
                <p class="recruit-short-description">
                <div><strong>Salary Offer:</strong> $800 - $1,500</div>
                <div><strong>Experience Level:</strong> Junior, Middle, Senior</div>
                <div><strong>Total Years Experience:</strong> At least 1 year</div>
                <div><strong>Education:</strong> University</div>
                </p>
                <div id="item1" class="recruit-description collapse in" aria-expanded="true" style="">
                    <div class="image-wrapper">
                        <img src="/images/java-frontend.jpg" alt="java-frontend">
                    </div>
                    <h4>Your Skills:</h4>
                    <ul>
                        <li>You have at least 3 years of experience in web development using Java</li>
                        <li>Strong knowledge of OOP, Data Structure and Algorithms. – Knowledge about Java SE 7 &amp; 8,
                            Spring frameworks (Spring boot) and web services
                        </li>
                        <li>Deep understanding of Relational database(MySQL).</li>
                        <li>Knowledge of NOSQL is plus.</li>
                        <li>Having knowledge about mobile applications, web applications</li>
                        <li>Basic experience of working with Linux environment.</li>
                        <li>Good analytical and problem-solving skills.</li>
                    </ul>
                    <h4>Benefits:</h4>
                    <ul>
                        <li>Salary: Up to $1,500. You also have chance to be considered appraisal twice a year,
                            according to your actual performance.
                        </li>
                        <li>Remuneration in Tet and Vietnam national holidays as company policy.</li>
                        <li>Private health as well as health insurance, social insurance, unemployed insurance and
                            having check up Annual.
                        </li>
                        <li>Annual company trip</li>
                        <li>Lunch allowance</li>
                    </ul>
                    <h4>Working Environment:</h4>
                    <ul>
                        <li>Professional, friendly, creative and chanceto learn from Japanese experts.</li>
                        <li>Opportunities to study new techique and apply to real working.</li>
                    </ul>
                    <h4>Apply now: <a href="mailto:recruit_vietnam@asoview.co.jp" class="recruit-link-apply">recruit_vietnam@asoview.co.jp</a>
                    </h4>
                </div>
            </div>
            <div class="recruit-item animated" data-toggle="collapse" data-target="#item2" aria-expanded="true">
                <h3 class="recruit-title">Java Team Leader</h3>
                <p class="recruit-short-description">
                <div><strong>Salary Offer:</strong> $1,500 - $2000</div>
                <div><strong>Experience Level:</strong> Junior, Middle, Senior</div>
                <div><strong>Total Years Experience:</strong> At least 3 year</div>
                <div><strong>Education:</strong> University</div>
                </p>
                <div id="item2" class="recruit-description collapse in" aria-expanded="true" style="">
                    <div class="image-wrapper">
                        <img src="/images/java-frontend.jpg" alt="java-frontend">
                    </div>
                    <h4>Your Skills:</h4>
                    <ul>
                        <li>English communication</li>
                        <li>Have at least 5 years experience as Leader Java, coding</li>
                        <li>Strong knowledge of both frond-end( web) and back-end.</li>
                        <li>Ability to buid a highly scalable and resposive system.</li>
                        <li>Strong experience in relational databases( MySQL), Javascrip, Jquery....)</li>
                    </ul>
                    <h4>Benefits:</h4>
                    <ul>
                        <li>Salary: Up to $2,000. You also have chance to be considered appraisal twice a year,
                            according to your actual performance.
                        </li>
                        <li>Remuneration in Tet and Vietnam national holidays as company policy.</li>
                        <li>Privite health package as well as health insurance, social insurance, unemployed insurance
                            and having check up yearly.
                        </li>
                        <li>Yearly company trip</li>
                        <li>Lunch allowance</li>
                    </ul>
                    <h4>Working Environment:</h4>
                    <ul>
                        <li>Professional, friendly, creative and chanceto learn from Japanese experts.</li>
                        <li>Opportunities to study new techique and apply to real working.</li>
                    </ul>
                    <h4>Apply now: <a class="recruit-link-apply" href="mailto:recruit_vietnam@asoview.co.jp">recruit_vietnam@asoview.co.jp</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>
    <%- include('../fragment/footer') %>
</div>
<%- include('../fragment/common-scripts') %>
</body>
</html>