<!DOCTYPE html>
<html>
<%- include('../fragment/head') %>
<body>
<div class="l-container">
    <%- include('../fragment/loading') %>
    <%- include('../fragment/header') %>
    <div class="l-contents">
        <article class="content">
            <div class="top-background">
                <div class="top-background-img" style="background: url('/images/ttl_top_01_pc.png')"></div>
                <div class="top-background-img" style="background: url('/images/ttl_top_02_pc-5.png')"></div>
            </div>
            <img class="asoview_img asoview_img-a " src="images/ico_a_01.svg">
            <div class="main-container">
                <h5>-ASOVIEW MISSION-</h5>
                <section class="section mission">
                    <div class="mission-wrapper">
                        <div class="ceo-img-wrapper">
                            <div class="ceo-img" style="background: url('/images/CEO.jpg')"></div>
                        </div>
                        <div class="ceo-message">
                            <h4>ワクワクを、すべての人に</h4>

                            <p> 人が幸せに生きていくために必要なことは、「物の充足」と「心の充足」です。</p>

                            <p> 私たちは、物の満たされた時代の中で、余暇時間の選択肢を最大化し、</p>

                            <p> その質を向上させることで心の充足を実現し、笑顔を増やし、幸せな社会の実現をしていきたいと考えています。</p>
                        </div>
                    </div>
                </section>
                <img class="asoview_img asoview_img-s " src="images/ico_s_02.svg">
                <section class="section value">
                    <h5>-ASOVIEW VALUE-</h5>
                    <div class="value-container">
                        <div class="test" id="test"></div>
                        <div class="value-for-you">
                            <div class="value-item">
                                <div class="value-img-wrapper">
                                    <img class="value-img" style="background: url('/images/photo-for-you.jpg')">
                                </div>
                                <div class="value-title">
                                    <p>For you</p>
                                    <p>すべては誰かのために</p>
                                </div>
                            </div>
                            <img class="asoview_img asoview_img-o " src="images/ico_o_02.svg">
                        </div>
                        <img class="asoview_img asoview_img-v " src="images/ico_v_01.svg">
                        <div class="value-challenge">
                            <div class="value-item">
                                <div class="value-img-wrapper">
                                    <img class="value-img" style="background: url('/images/photo-challenge.jpg')">
                                </div>
                                <div class="value-title">
                                    <p>Challenge</p>
                                    <p>挑戦し続ける</p>
                                </div>
                            </div>
                        </div>
                        <img class="asoview_img asoview_img-i " src="images/ico_i_01.svg">
                        <div class="value-no1">
                            <div class="value-item">
                                <div class="value-img-wrapper">
                                    <img class="value-img" style="background: url('/images/photo-no1.jpg')">
                                </div>
                                <div class="value-title">
                                    <p>No.1</p>
                                    <p>ナンバーワンにこだわる</p>
                                </div>
                            </div>
                        </div>
                        <img class="asoview_img asoview_img-e " src="images/ico_e_01.svg">
                    </div>
                </section>
                <section class="section product">
                    <h5>-ASOVIEW PRODUCT-</h5>
                    <img class="asoview_img asoview_img-w " src="images/ico_w_01.svg">
                    <div class="product-background">
                    </div>
                    <div class="product-container">
                        <div class="our-product">
                            <div>Our Product</div>
                            <div>Technology & Creative</div>
                        </div>
                        <ul class="product-list">
                            <a href="http://asoview.com/"><li style="background: url('/images/asoviewcom_logo.png')"></li></a>
                            <a href="https://asoview-news.com/"><li style="background: url('/images/asoviewnews_logo.png')"></li></a>
                            <a href="https://asoview.gift/"><li style="background: url('/images/asoviewgift_logo.png')"></li></a>
                            <a href="https://asoview-trip.com/"><li style="background: url('/images/asoviewtrip_logo.svg')"></li></a>
                        </ul>
                    </div>
                </section>
            </div>
        </article>
    </div>
    <%- include('../fragment/footer') %>
</div>
<%- include('../fragment/common-scripts') %>
</body>
</html>
