<!DOCTYPE html>
<html>
<%- include('../fragment/head') %>
<body>
<div class="l-container">
    <%- include('../fragment/loading') %>
    <%- include('../fragment/header') %>
    <div class="l-contents">
        <article class="content">
            <div class="top-background" style="background: url('images/company-banner.jpg')">
                <div class="top-background-img" style="background: url('https://i.imgur.com/puAzhcp.png')"></div>
                <div class="top-background-img" style="background: url('https://i.imgur.com/r8hgH8f.png')"></div>
            </div>
            <img class="asoview_img asoview_img-a " src="images/ico_a_01.svg">
            <div class="main-container">
                <p class="title">- <%= t('ASOVIEW MISSION') %> -</p>
                <section class="section mission">
                    <div class="mission-wrapper" data-aos="fade-up">
                        <div class="ceo-img-wrapper">
                            <div class="ceo-img" style="background: url('images/MrNegishi_2019.jpg')"></div>
                        </div>
                        <div class="ceo-message">
                            <h4 class="messageTitle"><%= t('CEO message title') %></h4>
                            <br>
                            <p> <%= t('CEO message') %></p>
                        </div>
                    </div>
                </section>
                <img class="asoview_img asoview_img-s " src="images/ico_s_02.svg">
                <section class="section value">
                    <p class="title">- <%= t('ASOVIEW VALUE') %> -</p>
                    <div class="value-container">
                        <div class="value-wrapper value-for-you for-you" data-aos="fade-right">
                            <div class="flex">
                                <div class="value-item">
                                    <div class="value-img-wrapper">
                                        <img class="value-img" style="background: url('https://i.imgur.com/w9KhsOx.jpg')">
                                    </div>
                                </div>
                                <div class="value-content">
                                    <div class="value-title">
                                        <p><b class="messageTitle"><%= t('For you') %></b></p>
                                        <p><%= t('For you content') %></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <img class="asoview_img asoview_img-o " src="images/ico_o_02.svg">
                        <img class="asoview_img asoview_img-v " src="images/ico_v_01.svg">
                        <img class="asoview_img asoview_img-i " src="images/ico_i_01.svg">
                        <div class="value-wrapper value-challenge challenge" data-aos="fade-left">
                            <div class="flex">
                                <div class="value-content">
                                    <div class="value-title">
                                        <p><b class="messageTitle"><%= t('Challenge') %></b></p>
                                        <p><%= t('Challenge content') %></p>
                                    </div>
                                </div>
                                <div class="value-item">
                                    <div class="value-img-wrapper">
                                        <img class="value-img"
                                             style="background: url('https://i.imgur.com/Og6XM7K.jpg')">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="value-wrapper value-no1 no1" data-aos="fade-right">
                            <div class="flex">
                                <div class="value-item">
                                    <div class="value-img-wrapper">
                                        <img class="value-img" style="background: url('/images/photo-no1.jpg')">
                                    </div>
                                </div>
                                <div class="value-content">
                                    <div class="value-title">
                                        <p><b class="messageTitle"><%= t('No.1') %></b></p>
                                        <p><%= t('No.1 content') %></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <img class="asoview_img asoview_img-e " src="images/ico_e_01.svg">
                    </div>
                </section>
                <section class="section product">
                    <p class="title">- <%= t('ASOVIEW PRODUCT') %> -</p>
                    <img class="asoview_img asoview_img-w " src="images/ico_w_01.svg">
                    <div class="product-background">
                    </div>
                    <div class="product-wrapper">
                        <div class="product-container">
                            <div class="our-product" style="float: left">
                                <div>Our Product</div>
                                <div>Technology & Creative</div>
                            </div>
                            <div class="product-list-wrapper">
                                <ul class="product-list">
                                    <a href="http://asoview.com/" target="_blank">
                                        <li style="background: url('https://i.imgur.com/ZbYAl4B.png')"></li>
                                    </a>
                                    <a href="https://asoview-news.com/" target="_blank">
                                        <li style="background: url('https://i.imgur.com/lO1lP3H.png')"></li>
                                    </a>
                                    <a href="https://asoview.gift/" target="_blank">
                                        <li style="background: url('https://img21.shop-pro.jp/PA01397/568/etc/asg_logo.png?cmsp_timestamp=20180523132516')"></li>
                                    </a>
                                    <a href="https://asoview-trip.com/" target="_blank">
                                        <li style="background: url('/images/asoviewtrip_logo.svg')"></li>
                                    </a>
                                </ul>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </article>
    </div>
    <%- include('../fragment/footer') %>
</div>
<%- include('../fragment/common-scripts') %>
</body>
</html>
