<!DOCTYPE html>
<html>
<%- include('../fragment/head') %>
<body>
<div class="l-container">
    <%- include('../fragment/loading') %>
    <%- include('../fragment/header') %>
    <div class="l-contents">
        <section class="section news">
            <div class="news-list">
                <div class="news-first-item">
                    <h3 class="news-title"><a href="news-detail.html">WATCH SAMSUNG UNVEIL THE NEW GALAXY NOTE 9 SMART PHONE</a></h3>
                    <h6 class="news-date">08.09.18 12:00 AM</h6>
                    <div class="news-content">
                        <div class="news-thumbnail">
                            <img src="https://media.wired.com/photos/5b6b875e51297c21002b44ee/master/w_1164,c_limit/samsung-RTX2QN33.jpg" alt="">
                        </div>
                        <p class="news-description">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras imperdiet semper ante, nec eleifend libero porttitor sed. Pellentesque malesuada auctor ultricies. Vivamus in velit a felis gravida interdum a in risus. Fusce luctus lobortis felis ut pellentesque. Phasellus a tincidunt est, a pharetra urna. Donec efficitur turpis at justo pharetra convallis. Cras ultricies interdum risus, sit amet viverra nisl dignissim vel. Aliquam sollicitudin rutrum nibh, ut vehicula neque fringilla ac. Pellentesque posuere ipsum at diam faucibus congue. In sagittis, felis vitae rhoncus suscipit, sem ipsum semper mauris, vitae pulvinar sem ante eleifend diam. Aenean scelerisque felis vel diam egestas, et ultricies tortor tempor.
                            Nulla porttitor, lorem et tempus interdum, nunc quam maximus justo, nec maximus est nisi at libero. Duis ultricies ex massa, quis interdum lorem eleifend ac. Praesent id pretium risus. Curabitur tristique lacinia libero eu semper. Cras quis imperdiet dui. Integer ac semper dolor. Nulla vitae malesuada risus, eu viverra justo. Aliquam eget laoreet mauris. Sed sed urna nec ligula finibus tempus eget ac metus. Cras eget facilisis ex.
                            Proin fermentum ante erat, id pellentesque ex blandit at. Integer quam metus, fermentum vitae tempor eu, vestibulum ullamcorper dui. Cras et malesuada lorem, a viverra metus. Nunc maximus felis in gravida pulvinar. Sed consequat tellus eget ipsum vehicula gravida. Sed viverra felis iaculis, iaculis nibh id, faucibus ipsum. Pellentesque aliquet enim sit amet est fringilla vehicula. Aliquam eu ligula quis ipsum facilisis vulputate quis ac nisi. Vestibulum dapibus quam eu enim interdum consequat. Pellentesque at consectetur nisi. Praesent tincidunt, purus vitae feugiat accumsan, nunc neque vestibulum orci, in fringilla nisl diam quis urna. Aenean eu tempus lectus. Phasellus vel mollis libero. Praesent porta, turpis a finibus placerat, leo nibh feugiat nunc, quis imperdiet augue nunc mattis ex. Duis dictum lacus nec eleifend fermentum. Sed dui sem, fermentum sed sapien id, ullamcorper ultricies lectus.
                            Etiam consectetur pellentesque lacus sed commodo. Suspendisse potenti. Mauris diam sem, efficitur et arcu ac, facilisis facilisis metus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Cras in accumsan erat, vel gravida augue. Suspendisse a fermentum enim. Donec consequat arcu nec est fringilla tristique. In venenatis, elit sit amet commodo ullamcorper, orci sapien convallis nulla, in eleifend dui ante a eros. Nunc nec tempor nulla, sed gravida diam. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec in tristique risus. Nullam cursus nulla et augue vehicula sodales ut ut tortor. Nam lorem arcu, mattis sed commodo vitae, varius eu turpis. Mauris ligula turpis, lobortis sit amet nisl at, eleifend luctus justo. Fusce a vulputate ante. Vivamus quam est, posuere id rutrum sit amet, placerat ut dui.
                            Nunc dapibus aliquet dolor, sit amet congue turpis volutpat ut. Nunc vestibulum a urna a egestas. In hac habitasse platea dictumst. Aenean congue purus ac ante interdum, in convallis sapien aliquet. Sed porta posuere augue aliquam dignissim. Mauris aliquam erat urna, a efficitur dolor vulputate lacinia. Proin sit amet quam diam. Aenean posuere gravida massa, ut pellentesque nibh bibendum a. Nullam tortor ligula, viverra at venenatis eget, scelerisque et felis. Suspendisse pretium ipsum vitae dolor feugiat molestie. Etiam mattis eleifend sem, vel ultrices felis gravida quis. Mauris pretium, ligula quis aliquam faucibus, odio elit lacinia odio, vel ullamcorper turpis dui sed augue. Vivamus at lobortis nibh, vel aliquam dolor. Nam feugiat et neque vel consectetur.
                        </p>
                    </div>
                </div>
                <div class="news-list-link">
                    <a href="news-detail.html">
                        <div class="news-thumbnail">
                            <img src="https://media.wired.com/photos/5b6b875e51297c21002b44ee/master/w_1164,c_limit/samsung-RTX2QN33.jpg" alt="">
                        </div>
                        <p class="news-description"><h4 class="news-title">WATCH SAMSUNG UNVEIL THE NEW GALAXY NOTE 9 SMART PHONE</h4></p>
                    </a>
                    <a href="news-detail.html">
                        <div class="news-thumbnail">
                            <img src="https://media.wired.com/photos/5b6b875e51297c21002b44ee/master/w_1164,c_limit/samsung-RTX2QN33.jpg" alt="">
                        </div>
                        <p class="news-description"><h4 class="news-title">WATCH SAMSUNG UNVEIL THE NEW GALAXY NOTE 9 SMART PHONE</h4></p>
                    </a>
                    <a href="news-detail.html">
                        <div class="news-thumbnail">
                            <img src="https://media.wired.com/photos/5b6b875e51297c21002b44ee/master/w_1164,c_limit/samsung-RTX2QN33.jpg" alt="">
                        </div>
                        <p class="news-description"><h4 class="news-title">WATCH SAMSUNG UNVEIL THE NEW GALAXY NOTE 9 SMART PHONE</h4></p>
                    </a>
                    <a href="news-detail.html">
                        <div class="news-thumbnail">
                            <img src="https://media.wired.com/photos/5b6b875e51297c21002b44ee/master/w_1164,c_limit/samsung-RTX2QN33.jpg" alt="">
                        </div>
                        <p class="news-description"><h4 class="news-title">WATCH SAMSUNG UNVEIL THE NEW GALAXY NOTE 9 SMART PHONE</h4></p>
                    </a>
                    <a href="news-detail.html">
                        <div class="news-thumbnail">
                            <img src="https://media.wired.com/photos/5b6b875e51297c21002b44ee/master/w_1164,c_limit/samsung-RTX2QN33.jpg" alt="">
                        </div>
                        <p class="news-description"><h4 class="news-title">WATCH SAMSUNG UNVEIL THE NEW GALAXY NOTE 9 SMART PHONE</h4></p>
                    </a>
                    <a href="news-detail.html">
                        <div class="news-thumbnail">
                            <img src="https://media.wired.com/photos/5b6b875e51297c21002b44ee/master/w_1164,c_limit/samsung-RTX2QN33.jpg" alt="">
                        </div>
                        <p class="news-description"><h4 class="news-title">WATCH SAMSUNG UNVEIL THE NEW GALAXY NOTE 9 SMART PHONE</h4></p>
                    </a>
                </div>
            </div>
        </section>
    </div>
    <%- include('../fragment/footer') %>
</div>
<%- include('../fragment/common-scripts') %>
</body>
</html>