<!DOCTYPE html>
<html>
<%- include('../fragment/head') %>
<body>
<div class="l-container">
    <%- include('../fragment/loading') %>
    <%- include('../fragment/header') %>
    <div class="l-contents">
        <section class="section news">
            <div class="news-list">
                <div class="news-item">
                    <div class="news-item_img news-item_img-established"></div>
                    <div class="news-item_wrapper">
                        <div class="news-item_title">Thành lập công ty</div>
                        <div class="news-item_date">01/07/2018</div>
                        <div class="news-item_content">Ngôi nhà mới của Asoview
                            Asoview đã chính thức thành lập tại Việt Nam vào tháng 7 năm 2018 là công ty con của Asoview
                            Nhật Bản .
                            Asoview VIệt Nam đặt văn phòng ở toà nhà EBM quận Bình Thạnh một trong những quận đang rất
                            phát
                            triển . Văn phòng được thiết kế hiện đại đơn giản với không gian mở gần gủi tạo cảm giác
                            thoả
                            mái làm việc , tăng sự tương tác giữa các thành viên . Văn phòng toạ lạc ở vị trí yên tĩnh ,
                            là
                            môi trường có thể tập trung làm việc . Từ văn phòng ta có thể dễ dàng nhìn thấy toà nhà Land
                            Mark nằm đối diện đẹp xuất sắc và là biểu tượng hiện nay của Việt Nam . Asoview với sứ mệnh
                            mang
                            niềm vui WAKU WAKU đến mọi người chúng tôi luôn nỗ lực phát triển . Bạn có muốn tham gia vào
                            ngôi nhà nhỏ Asoview cùng chúng tôi thực hiện điều đó không !
                        </div>
                    </div>
                </div>
                <div class="news-item">
                    <div class="news-item_img news-item_img-established"></div>
                    <div class="news-item_wrapper">
                        <div class="news-item_title">Thành lập công ty</div>
                        <div class="news-item_date">01/07/2018</div>
                        <div class="news-item_content">Ngôi nhà mới của Asoview
                            Asoview đã chính thức thành lập tại Việt Nam vào tháng 7 năm 2018 là công ty con của Asoview
                            Nhật Bản .
                            Asoview VIệt Nam đặt văn phòng ở toà nhà EBM quận Bình Thạnh một trong những quận đang rất
                            phát
                            triển . Văn phòng được thiết kế hiện đại đơn giản với không gian mở gần gủi tạo cảm giác
                            thoả
                            mái làm việc , tăng sự tương tác giữa các thành viên . Văn phòng toạ lạc ở vị trí yên tĩnh ,
                            là
                            môi trường có thể tập trung làm việc . Từ văn phòng ta có thể dễ dàng nhìn thấy toà nhà Land
                            Mark nằm đối diện đẹp xuất sắc và là biểu tượng hiện nay của Việt Nam . Asoview với sứ mệnh
                            mang
                            niềm vui WAKU WAKU đến mọi người chúng tôi luôn nỗ lực phát triển . Bạn có muốn tham gia vào
                            ngôi nhà nhỏ Asoview cùng chúng tôi thực hiện điều đó không !
                        </div>
                    </div>
                </div>
                <div class="news-item">
                    <div class="news-item_img news-item_img-established"></div>
                    <div class="news-item_wrapper">
                        <div class="news-item_title">Thành lập công ty</div>
                        <div class="news-item_date">01/07/2018</div>
                        <div class="news-item_content">Ngôi nhà mới của Asoview
                            Asoview đã chính thức thành lập tại Việt Nam vào tháng 7 năm 2018 là công ty con của Asoview
                            Nhật Bản .
                            Asoview VIệt Nam đặt văn phòng ở toà nhà EBM quận Bình Thạnh một trong những quận đang rất
                            phát
                            triển . Văn phòng được thiết kế hiện đại đơn giản với không gian mở gần gủi tạo cảm giác
                            thoả
                            mái làm việc , tăng sự tương tác giữa các thành viên . Văn phòng toạ lạc ở vị trí yên tĩnh ,
                            là
                            môi trường có thể tập trung làm việc . Từ văn phòng ta có thể dễ dàng nhìn thấy toà nhà Land
                            Mark nằm đối diện đẹp xuất sắc và là biểu tượng hiện nay của Việt Nam . Asoview với sứ mệnh
                            mang
                            niềm vui WAKU WAKU đến mọi người chúng tôi luôn nỗ lực phát triển . Bạn có muốn tham gia vào
                            ngôi nhà nhỏ Asoview cùng chúng tôi thực hiện điều đó không !
                        </div>
                    </div>
                </div>
                <div class="news-item">
                    <div class="news-item_img news-item_img-established"></div>
                    <div class="news-item_wrapper">
                        <div class="news-item_title">Thành lập công ty</div>
                        <div class="news-item_date">01/07/2018</div>
                        <div class="news-item_content">Ngôi nhà mới của Asoview
                            Asoview đã chính thức thành lập tại Việt Nam vào tháng 7 năm 2018 là công ty con của Asoview
                            Nhật Bản .
                            Asoview VIệt Nam đặt văn phòng ở toà nhà EBM quận Bình Thạnh một trong những quận đang rất
                            phát
                            triển . Văn phòng được thiết kế hiện đại đơn giản với không gian mở gần gủi tạo cảm giác
                            thoả
                            mái làm việc , tăng sự tương tác giữa các thành viên . Văn phòng toạ lạc ở vị trí yên tĩnh ,
                            là
                            môi trường có thể tập trung làm việc . Từ văn phòng ta có thể dễ dàng nhìn thấy toà nhà Land
                            Mark nằm đối diện đẹp xuất sắc và là biểu tượng hiện nay của Việt Nam . Asoview với sứ mệnh
                            mang
                            niềm vui WAKU WAKU đến mọi người chúng tôi luôn nỗ lực phát triển . Bạn có muốn tham gia vào
                            ngôi nhà nhỏ Asoview cùng chúng tôi thực hiện điều đó không !
                        </div>
                    </div>
                </div>
                <div class="news-item">
                    <div class="news-item_img news-item_img-established"></div>
                    <div class="news-item_wrapper">
                        <div class="news-item_title">Thành lập công ty</div>
                        <div class="news-item_date">01/07/2018</div>
                        <div class="news-item_content">Ngôi nhà mới của Asoview
                            Asoview đã chính thức thành lập tại Việt Nam vào tháng 7 năm 2018 là công ty con của Asoview
                            Nhật Bản .
                            Asoview VIệt Nam đặt văn phòng ở toà nhà EBM quận Bình Thạnh một trong những quận đang rất
                            phát
                            triển . Văn phòng được thiết kế hiện đại đơn giản với không gian mở gần gủi tạo cảm giác
                            thoả
                            mái làm việc , tăng sự tương tác giữa các thành viên . Văn phòng toạ lạc ở vị trí yên tĩnh ,
                            là
                            môi trường có thể tập trung làm việc . Từ văn phòng ta có thể dễ dàng nhìn thấy toà nhà Land
                            Mark nằm đối diện đẹp xuất sắc và là biểu tượng hiện nay của Việt Nam . Asoview với sứ mệnh
                            mang
                            niềm vui WAKU WAKU đến mọi người chúng tôi luôn nỗ lực phát triển . Bạn có muốn tham gia vào
                            ngôi nhà nhỏ Asoview cùng chúng tôi thực hiện điều đó không !
                        </div>
                    </div>
                </div>
                <div class="news-item">
                    <div class="news-item_img news-item_img-established"></div>
                    <div class="news-item_wrapper">
                        <div class="news-item_title">Thành lập công ty</div>
                        <div class="news-item_date">01/07/2018</div>
                        <div class="news-item_content">Ngôi nhà mới của Asoview
                            Asoview đã chính thức thành lập tại Việt Nam vào tháng 7 năm 2018 là công ty con của Asoview
                            Nhật Bản .
                            Asoview VIệt Nam đặt văn phòng ở toà nhà EBM quận Bình Thạnh một trong những quận đang rất
                            phát
                            triển . Văn phòng được thiết kế hiện đại đơn giản với không gian mở gần gủi tạo cảm giác
                            thoả
                            mái làm việc , tăng sự tương tác giữa các thành viên . Văn phòng toạ lạc ở vị trí yên tĩnh ,
                            là
                            môi trường có thể tập trung làm việc . Từ văn phòng ta có thể dễ dàng nhìn thấy toà nhà Land
                            Mark nằm đối diện đẹp xuất sắc và là biểu tượng hiện nay của Việt Nam . Asoview với sứ mệnh
                            mang
                            niềm vui WAKU WAKU đến mọi người chúng tôi luôn nỗ lực phát triển . Bạn có muốn tham gia vào
                            ngôi nhà nhỏ Asoview cùng chúng tôi thực hiện điều đó không !
                        </div>
                    </div>
                </div>
                <div class="news-item">
                    <div class="news-item_img news-item_img-established"></div>
                    <div class="news-item_wrapper">
                        <div class="news-item_title">Thành lập công ty</div>
                        <div class="news-item_date">01/07/2018</div>
                        <div class="news-item_content">Ngôi nhà mới của Asoview
                            Asoview đã chính thức thành lập tại Việt Nam vào tháng 7 năm 2018 là công ty con của Asoview
                            Nhật Bản .
                            Asoview VIệt Nam đặt văn phòng ở toà nhà EBM quận Bình Thạnh một trong những quận đang rất
                            phát
                            triển . Văn phòng được thiết kế hiện đại đơn giản với không gian mở gần gủi tạo cảm giác
                            thoả
                            mái làm việc , tăng sự tương tác giữa các thành viên . Văn phòng toạ lạc ở vị trí yên tĩnh ,
                            là
                            môi trường có thể tập trung làm việc . Từ văn phòng ta có thể dễ dàng nhìn thấy toà nhà Land
                            Mark nằm đối diện đẹp xuất sắc và là biểu tượng hiện nay của Việt Nam . Asoview với sứ mệnh
                            mang
                            niềm vui WAKU WAKU đến mọi người chúng tôi luôn nỗ lực phát triển . Bạn có muốn tham gia vào
                            ngôi nhà nhỏ Asoview cùng chúng tôi thực hiện điều đó không !
                        </div>
                    </div>
                </div>
                <div class="news-item">
                    <div class="news-item_img news-item_img-established"></div>
                    <div class="news-item_wrapper">
                        <div class="news-item_title">Thành lập công ty</div>
                        <div class="news-item_date">01/07/2018</div>
                        <div class="news-item_content">Ngôi nhà mới của Asoview
                            Asoview đã chính thức thành lập tại Việt Nam vào tháng 7 năm 2018 là công ty con của Asoview
                            Nhật Bản .
                            Asoview VIệt Nam đặt văn phòng ở toà nhà EBM quận Bình Thạnh một trong những quận đang rất
                            phát
                            triển . Văn phòng được thiết kế hiện đại đơn giản với không gian mở gần gủi tạo cảm giác
                            thoả
                            mái làm việc , tăng sự tương tác giữa các thành viên . Văn phòng toạ lạc ở vị trí yên tĩnh ,
                            là
                            môi trường có thể tập trung làm việc . Từ văn phòng ta có thể dễ dàng nhìn thấy toà nhà Land
                            Mark nằm đối diện đẹp xuất sắc và là biểu tượng hiện nay của Việt Nam . Asoview với sứ mệnh
                            mang
                            niềm vui WAKU WAKU đến mọi người chúng tôi luôn nỗ lực phát triển . Bạn có muốn tham gia vào
                            ngôi nhà nhỏ Asoview cùng chúng tôi thực hiện điều đó không !
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <%- include('../fragment/footer') %>
</div>
<%- include('../fragment/common-scripts') %>
</body>
</html>