<!DOCTYPE html>
<html>
<%- include('../fragment/head') %>
<body>
<div class="l-container">
    <%- include('../fragment/loading') %>
    <%- include('../fragment/header') %>
    <div class="l-contents">
        <section class="section news">
            <div class="section-header">
                <div class="top-header news-header">News
                </div>
            </div>
            <div class="body-css">
                    <div class="form">
                            <div class="dropdown-search js-dropdown">
                              <div class="dropdown-inner dropdown-box">
                                <span class="dropdown-value js-dropdown-value">2019</span>
                                <span class="dropdown-icon">&#9662;</span>
                              </div>
                              <div class="dropdown-options-container js-dropdown-options">
                                <div class="dropdown-option dropdown-box js-dropdown-option">2018</div>
                                <div class="dropdown-option dropdown-box js-dropdown-option">2019</div>
                              </div>
                            </div>
                            </div>
            </div>
            <div class="news-list">
                <div class="news-item">
                    <div class="news-item_img news-item_img-established"></div>
                    <div class="news-item_wrapper">
                        <div class="news-item_title"><%= t('Establishment') %></div>
                        <div class="news-item_date"><%=t('New home news day')%></div>
                        <div class="news-item_content"><%= t('Asoview new home content') %></div>
                    </div>
                </div>
                <div class="news-item">
                    <div class="news-item_img news-item_img-visit"></div>
                    <div class="news-item_wrapper">
                        <div class="news-item_title"><%= t('Title of Brse') %>  </div>
                        <div class="news-item_date"><%= t('Brse news day') %></div>
                        <div class="news-item_content">
                                <%= t('Brse content') %>
                                
                                
                        </div>
                    </div>
                </div>
                <div class="news-item">
                    <div class="news-item_img news-item_img-birthday"></div>
                    <div class="news-item_wrapper">
                        <div class="news-item_title"><%=t('Title birthday')%></div>
                        <div class="news-item_date">01/08/2018</div>
                        <div class="news-item_content">
                                <%=t('Bithday content')%>
                            
                        </div>
                    </div>
                </div>
                <div class="news-item">
                    <div class="news-item_img news-item_img-women"></div>
                    <div class="news-item_wrapper">
                        <div class="news-item_title"><%=t('Title Women day')%></div>
                        <div class="news-item_date">08/03/2018</div>
                        <div class="news-item_content">
                                <%=t('Women day content')%>
                        </div>
                    </div>
                </div>
                <div class="news-item">
                    <div class="news-item_img news-item_img-travel"></div>
                    <div class="news-item_wrapper">
                        <div class="news-item_title"><%=t('Title company trip')%></div>
                        <div class="news-item_date">30/10/2018</div>
                        <div class="news-item_content">
                                <%=t('Company trip content')%>
                                
                        </div>
                    </div>
                </div>
                <div class="news-item">
                    <div class="news-item_img news-item_img-trip"></div>
                    <div class="news-item_wrapper">
                        <div class="news-item_title"><%=t('Title business trip')%></div>
                        <div class="news-item_date">23/11/2018</div>
                        <div class="news-item_content">
                                <%=t('business trip content')%>
                                
                        </div>
                    </div>
                </div>
                <div class="news-item">
                    <div class="news-item_img news-item_img-jp"></div>
                    <div class="news-item_wrapper">
                        <div class="news-item_title"><%=t('Title Japan business trip')%></div>
                        <div class="news-item_date">08/12/2018</div>
                        <div class="news-item_content">
                                <%=t('Japan business trip content')%>
                        </div>
                    </div>
                </div>
                <div class="news-item">
                    <div class="news-item_img news-item_img-newyear"></div>
                    <div class="news-item_wrapper">
                        <div class="news-item_title"><%=t('Title New year')%></div>
                        <div class="news-item_date">01/01/2019</div>
                        <div class="news-item_content">
                                <%=t('New year content')%>
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="new-row">
            <div class="row-new">
                    <div class="center-block-new">
                        <div class="umbraco-forms-form newsletter umbraco-forms-News Letter Theme">
                            <div class="form-horizontal">
                                <div class="row-new">
                                    <div class="col-md-12" style="display: flex;justify-content: center;">
                                        <a class="more-information-btn-new" href="#">View more</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <div style="height:50px; background:#f2f8fb"></div>
            </div>
        </section>
        
    </div>
    <%- include('../fragment/footer') %>
</div>
<%- include('../fragment/common-scripts') %>
<script src="js/components/jquery.twbsPagination.js"></script>
<script>
  $('#news-list').twbsPagination({
    totalPages: 35,
    visiblePages: 7,
    first:"<<",
    prev:"<",
    next:">",
    last:">>",
    onPageClick: function (event, page) {
      $('#page-content').text('Page ' + page);
    }
  });
</script>
</body>
</html>