<!DOCTYPE html>
<html>
<%- include('../fragment/head') %>
<head>
</head>
<body>
<div class="l-container">
    <%- include('../fragment/loading') %>
    <%- include('../fragment/header') %>
    <div class="l-contents">
        <section class="section service">
            <div class="service-top_background"></div>
            <div class="service-container">
                <div class="our-service_title"><%= t('Our service') %></div>
                <div class="our-service_content">
                    <p><%= t('Our service content') %></p>
                </div>
                <div class="our-service_header">
                    <ul class="nav nav-pills nav-fill">
                        <li class="nav-item">
                            <a class="nav-link" href="#internet">
                                <%= t('Internet Service') %><i class="fas fa-angle-down"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#marketing">
                                <%= t('Marketing Promotion Support') %><i class="fas fa-angle-down"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#erb-business">
                                <%= t('ERP Business') %><i class="fas fa-angle-down"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#consulting">
                                <%= t('Consulting') %><i class="fas fa-angle-down"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="internet-service" id="internet">
                    <div class="internet-service_title">
                        <%= t('Internet Service') %>
                    </div>
                    <div class="internet-service_wrapper" data-aos="fade-right">
                        <div class="internet-service_img internet-service_img-asoview"></div>
                        <div class="internet-service_content">
                            <div class="internet-service_content-wrapper-right">
                                <div><b><%= t('Asoview content 1') %></b></div>
                                <div>
                                    <p class="content_title"><%= t('Asoview content 2') %></p>
                                    <p class="content_body"><%= t('Asoview content 3') %></p>
                                    <p><a href="https://www.asoview.com/">View site <i class="fas fa-angle-right"></i> </a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="internet-service_wrapper" data-aos="fade-left">
                        <div class="internet-service_content">
                            <div class="internet-service_content-wrapper-left">
                                <div><b><%= t('Asoview!NEWS content 1') %></b></div>
                                <div>
                                    <p class="content_title"><%= t('Asoview!NEWS content 2') %></p>
                                    <p class="content_body"><%= t('Asoview!NEWS content 3') %></p>
                                    <p><a href="https://asoview-news.com/">View site <i class="fas fa-angle-right"></i></a></p>
                                </div>
                            </div>
                        </div>
                        <div class="internet-service_img internet-service_img-new"></div>
                    </div>
                    <div class="internet-service_wrapper" data-aos="fade-right">
                        <div class="internet-service_img internet-service_img-trip"></div>
                        <div class="internet-service_content">
                            <div class="internet-service_content-wrapper-right">
                                <div><b><%= t('Asoview!TRIP content 1') %></b></div>
                                <div>
                                    <p class="content_tilte"><%= t('Asoview!TRIP content 2') %></p>
                                    <p class="content_body"><%= t('Asoview!TRIP content 3') %></p>
                                    <p><a href="https://asoview-trip.com/">View site <i class="fas fa-angle-right"></i></a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="internet-service_wrapper" data-aos="fade-left">
                        <div class="internet-service_content">
                            <div class="internet-service_content-wrapper-left">
                                <div><b><%= t('Asoview!GIFT content 1') %></b></div>
                                <div>
                                    <p class="content_title"><%= t('Asoview!GIFT content 2') %></p>
                                    <p class="content_body"><%= t('Asoview!GIFT content 3') %></p>
                                    <p><a href="https://asoview.gift/">View site <i class="fas fa-angle-right"></i></a></p>
                                </div>
                            </div>
                        </div>
                        <div class="internet-service_img internet-service_img-gift"></div>
                    </div>
                </div>
                <div class="internet-service" id="marketing">
                    <div class="internet-service_title marketing-promotion_title">
                        <%= t('Marketing Promotion Support') %>
                    </div>
                    <div class="internet-service_wrapper" data-aos="fade-right">
                        <div class="internet-service_img internet-service_img-ad-platform"></div>
                        <div class="internet-service_content">
                            <div class="internet-service_content-wrapper-right">
                                <div><b><%= t('Asoview!ad platform content 1') %></b></div>
                                <div>
                                    <p class="content_title"><%= t('Asoview!ad platform content 2') %></p>
                                    <p class="content_body"><%= t('Asoview!ad platform content 3') %></p>
                                    <p><a href="https://www.asoview.co.jp/contact/">Contact here <i class="fas fa-angle-right"></i></a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="internet-service_wrapper" data-aos="fade-left">
                        <div class="internet-service_content">
                            <div class="internet-service_content-wrapper-left">
                                <div><b><%= t('Asoview!Promotion content 1') %></b></div>
                                <div>
                                    <p class="content_title"><%= t('Asoview!Promotion content 2') %></p>
                                    <p class="content_body"><%= t('Asoview!Promotion content 3') %></p>
                                    <p><a href="https://asoview.gift/contents/feature/campaign">Detail here <i class="fas fa-angle-right"></i></a></p>
                                </div>
                            </div>
                        </div>
                        <div class="internet-service_img internet-service_img-promotion"></div>
                    </div>
                </div>
                <div class="internet-service" id="erb-business">
                    <div class="internet-service_title">
                        <%= t('ERP Business') %>
                    </div>
                    <div class="internet-service_wrapper" data-aos="fade-right">
                        <div class="internet-service_img internet-service_img-satsuki"></div>
                        <div class="internet-service_content">
                            <div class="internet-service_content-wrapper-right">
                                <div><b><%= t('Satsuki content 1') %></b></div>
                                <div>
                                    <p class="content_title"><%= t('Satsuki content 2') %></p>
                                    <p class="content_body"><%= t('Satsuki content 3') %></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="internet-service_wrapper" data-aos="fade-left">
                        <div class="internet-service_content">
                            <div class="internet-service_content-wrapper-left">
                                <div><b><%= t('Asoview!news platform 1') %></b></div>
                                <div>
                                    <p class="content_title"><%= t('Asoview!news platform 2') %></p>
                                    <p class="content_body"><%= t('Asoview!news platform 3') %></p>
                                </div>
                            </div>
                        </div>
                        <div class="internet-service_img internet-service_img-new-platform"></div>
                    </div>
                    <div class="internet-service_wrapper" data-aos="fade-right">
                        <div class="internet-service_img internet-service_img-area-gate"></div>
                        <div class="internet-service_content">
                            <div class="internet-service_content-wrapper-right">
                                <div><b><%= t('AREA GATE 1') %></b></div>
                                <div>
                                    <p class="content_title"><%= t('AREA GATE 2') %></p>
                                    <p class="content_body"><%= t('AREA GATE 3') %></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="consulting" data-aos="fade-up" id="consulting">
                    <div class="consulting_title"><%= t('Consulting') %></div>
                    <p class="content_body"><%= t('Consulting content') %></p>
                    <p><b class="consulting_type"><%= t('Consulting types')%></b><p>
                    <div class="consulting_content">
                        <div><%= t('Support Degital Marketing') %></div>
                        <div><%= t('Renewal Home Page') %></div>
                        <div><%= t('Owned Media Support') %></div>
                        <div><%= t('Tourism Strategic Plan') %></div>
                        <div><%= t('Human Resource Development & Training') %></div>
                        <div><%= t('Tourism Products Design') %></div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <%- include('../fragment/footer') %>
</div>
<%- include('../fragment/common-scripts') %>
</body>
</html>