<!DOCTYPE html>
<html>
<%- include('../fragment/head') %>
<head>
    <link rel='stylesheet' href='/css/components/easy-responsive-tabs.min.css'/>
</head>
<body>
<div class="l-container">
    <%- include('../fragment/loading') %>
    <%- include('../fragment/header') %>
    <div class="l-contents">
        <section class="section service">
            <h3>Asoview Service</h3>
            <div class="service-container">
                <div id="parentVerticalTab" class="tab_sec animated fadeInUp">
                    <ul class="resp-tabs-list hor_1">
                        <li>
                            asoview!
                        </li>
                        <li>
                            asoview!NEWS
                        </li>
                        <li>
                            asoview!TRIP
                        </li>
                        <li>
                            asoview!GIFT
                        </li>
                        <li>
                            asoview! ad platform
                        </li>
                        <li>
                            asoview!Promotion
                        </li>
                        <li>
                            satsuki
                        </li>
                        <li>
                            asoview! news platform
                        </li>
                        <li>
                            AREA GATE
                        </li>
                        <li>
                            Consulting Service
                        </li>
                    </ul>
                    <div class="resp-tabs-container hor_1">
                        <div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <h3 class="service-group">Internet Services</h3>
                                    <h3>asoview!</h3>
                                    <h4>日本最大級の遊びのマーケットプレイス</h4>
                                    <p>
                                        asoview!（アソビュー）は、北海道から沖縄まで、アウトドアスポーツやものづくり体験、遊園地や水族館、日帰り温泉などの640種類の遊びを、5,000施設、19,000プラン紹介する遊びのマーケットプレイスです。
                                    </p>
                                    <p><a class="service-access-button" href="https://www.asoview.com/"
                                          target="_blank">Access</a></p>
                                </div>
                                <div class="col-sm-6 tab_img">
                                    <img src="https://www.asoview.co.jp/wp-content/uploads/ph_02-2.jpg"
                                         alt="asoview!"/>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <h3 class="service-group">Internet Services</h3>
                                    <h3>asoview!NEWS</h3>
                                    <h4>読むとお出かけしたくなる遊びのニュース</h4>
                                    <p>
                                        asoview!NEWS（アソビューニュース）は、週末に開催されるイベントや都内に新しくできるショップ、美術館の企画展など気軽にお出かけできるイベント情報を発信するニュースプラットフォームです。
                                    </p>
                                    <p><a class="service-access-button" href="https://asoview-news.com/"
                                          target="_blank">Access</a></p>
                                </div>
                                <div class="col-sm-6 tab_img">
                                    <img src="https://www.asoview.co.jp/wp-content/uploads/ph_03-2.jpg"
                                         alt="asoview!NEWS"/>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <h3 class="service-group">Internet Services</h3>
                                    <h3>asoview!TRIP</h3>
                                    <h4>あなたと「旅」をつなげるWEBマガジン</h4>
                                    <p>asoview!TRIPは、あなたと「旅」をつなぐwebマガジン。旅行に関する情報を配信しています。
                                        絶対に外せない定番のスポット情報や、実際に訪れて体験したレポートなど。日常を少し離れた場所での新しい素敵な出会いをサポートできる情報をみなさまにお届けします。asoview!TRIPと一緒に、旅行の計画を立ててみませんか？
                                    </p>
                                    <p><a class="service-access-button" href="https://asoview-trip.com/"
                                          target="_blank">Access</a></p>
                                </div>
                                <div class="col-sm-6 tab_img">
                                    <img src="https://www.asoview.co.jp/wp-content/uploads/ph_04-1.jpg"
                                         alt="asoview!TRIP"/>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <h3 class="service-group">Internet Services</h3>
                                    <h3>asoview!GIFT</h3>
                                    <h4>「非日常」の体験を贈るギフトサービス</h4>
                                    <p>
                                        asoview!GIFTはasoview!が提供するもの作りや文化体験、アウトドアな体験などの「非日常」な体験を贈ることのできるギフトサービスです。
                                    </p>
                                    <p><a class="service-access-button" href="http://asoview.gift/"
                                          target="_blank">Access</a></p>
                                </div>
                                <div class="col-sm-6 tab_img">
                                    <img src="https://www.asoview.co.jp/wp-content/uploads/gift_corp.png"
                                         alt="asoview!GIFT"/>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <h3 class="service-group">Marketing Promotion Support</h3>
                                    <h3>asoview!ad platform</h3>
                                    <h4>インターネット広告サービス</h4>
                                    <p>asoview! ad
                                        platformは、より良い余暇の過ごし方をする、アンテナの高い、能動的に情報収集するアクティブな消費者へ、メッセージを伝えることができるインターネット広告サービスです。
                                    </p>
                                    <p><a class="service-access-button"
                                          href="https://www.asoview.co.jp/contact/"
                                          target="_blank">Access</a></p>
                                </div>
                                <div class="col-sm-6 tab_img">
                                    <img src="https://www.asoview.co.jp/wp-content/uploads/ph_05_pc-1.jpg"
                                         alt="asoview!ad platform"/>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <h3 class="service-group">Marketing Promotion Support</h3>
                                    <h3>asoview!Promotion</h3>
                                    <h4>販売促進サービス</h4>
                                    <p>asoview!
                                        Promotionは、次の休日に何をしようか考えている瞬間や、レジャーを楽しんでいる瞬間にアプローチすることで、商品の興味関心を高め、より記憶に残る体験を消費者に提供できる体験ギフトを中心とした販売促進サービスです。
                                    </p>
                                    <p><a class="service-access-button" href="http://asoview.gift/?mode=f7"
                                          target="_blank">Access</a></p>
                                </div>
                                <div class="col-sm-6 tab_img">
                                    <img src="https://www.asoview.co.jp/wp-content/uploads/ph_06_pc.jpg"
                                         alt="asoview!Promotion"/>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <h3 class="service-group">Solution Service</h3>
                                    <h3>satsuki</h3>
                                    <h4>レジャー施設向けオンライン予約・チケット販売管理システム</h4>
                                    <p>
                                        satsukiは、アウトドアスポーツやものづくり体験、遊園地や水族館、日帰り温泉各レジャー施設の予約業務を進化させ、業務効率・集客を最大限にアップさせる新しい販売・顧客管理システムです。
                                    </p>
                                </div>
                                <div class="col-sm-6 tab_img">
                                    <img src="https://www.asoview.co.jp/wp-content/uploads/ph_08-1.jpg"
                                         alt="satsuki"/>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <h3 class="service-group">Solution Service</h3>
                                    <h3>asoview!news platform</h3>
                                    <h4>商業施設向けイベント・ニュース情報配信サービス</h4>
                                    <p>asoview! news
                                        platformは、次の休日に何をしようか考えている情報感度の高いお出かけ潜在層に対して、自社のイベント情報やセール情報、ニュースなどを発信できる情報発信プラットフォームです。
                                    </p>
                                </div>
                                <div class="col-sm-6 tab_img">
                                    <img src="https://www.asoview.co.jp/wp-content/uploads/ph_09.jpg"
                                         alt="asoview!news platform"/>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <h3 class="service-group">Solution Service</h3>
                                    <h3>AREA GATE</h3>
                                    <h4>自治体・観光協会・DMO向け観光商品販売管理システム</h4>
                                    <p>AREA
                                        GATEは、自治体・観光協会・DMOが地域の観光消費額・観光者数を拡大していく上で必要な、インターネット上での観光商品の流通を中心に、販売管理や顧客分析など各種データの一元管理を実現する観光商品販売管理システムです。
                                    </p>
                                </div>
                                <div class="col-sm-6 tab_img">
                                    <img src="https://www.asoview.co.jp/wp-content/uploads/ph_10.jpg"
                                         alt="AREA GATE"/>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <h3 class="service-group text-center">Consulting Service</h3>
                                    <p>
                                        コンサルティング事業では、ブランドにて接点を持つレジャー施設や自治体・観光協会・DMOへ、ブランドを成長させる上で蓄積したノウハウを活用して、施設の集客効果の最大化や業務オペレーション効率化、地域の観光消費拡大を実現するためのコンサルティングサービスを提供しています。
                                    </p>
                                    <h4 class="service-group text-center">コンサルティング例</h4>
                                    <ul class="consulting-list js-anime is-inview">
                                        <li>
                                            <i><img src="/images/ico_consul_01.svg" alt=""></i>
                                            <p>デジタル
                                                <br> マーケティング
                                                <br> 支援
                                            </p>
                                        </li>
                                        <li>
                                            <i><img src="/images/ico_consul_02.svg" alt=""></i>
                                            <p>ホームページ
                                                <br> リニューアル
                                            </p>
                                        </li>
                                        <li>
                                            <i><img src="/images/ico_consul_03.svg" alt=""></i>
                                            <p>オウンドメディア
                                                <br> 立ち上げ支援
                                            </p>
                                        </li>
                                        <li>
                                            <i><img src="/images/ico_consul_04.svg" alt=""></i>
                                            <p>観光戦略
                                                <br> 立案
                                            </p>
                                        </li>
                                        <li>
                                            <i><img src="/images/ico_consul_05.svg" alt=""></i>
                                            <p>人材育成
                                                <br> 研修
                                            </p>
                                        </li>
                                        <li>
                                            <i><img src="/images/ico_consul_06.svg" alt=""></i>
                                            <p>観光商品の
                                                <br> 造成
                                            </p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <%- include('../fragment/footer') %>
</div>
<%- include('../fragment/common-scripts') %>
<script src="js/components/easyResponsiveTabs.js"></script>
</body>
</html>