<!DOCTYPE html>
<html>
<%- include('../fragment/head') %>
<head>
</head>
<body>
<div class="l-container">
    <%- include('../fragment/loading') %>
    <%- include('../fragment/header') %>
    <div class="l-contents">
        <section class="section service">
            <div class="service-top_background"></div>
            <div class="service-container">
                <div class="our-service_title">Our service</div>
                <div class="our-service_content">
                    <p>Use technology and creative as a weapon . We aim to create a new field is called</p>
                    <p>"Leisure industry " redefines the existing industry, pick and choose a valuable,</p>
                    <p>high-quality options to enrich your life in the leisure market .</p>
                </div>
                <div class="our-service_header">
                    <ul class="nav nav-pills nav-fill">
                        <li class="nav-item">
                            <a class="nav-link" href="#internet">
                                Internet service business<i class="fas fa-arrow-down"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#marketing">
                                Marketing promotion support project<i class="fas fa-arrow-down"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#erb-business">
                                ERP business<i class="fas fa-arrow-down"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#consulting">
                                Consulting business<i class="fas fa-arrow-down"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="internet-service" id="internet">
                    <div class="internet-service_title">
                        Internet Service
                    </div>
                    <div class="internet-service_wrapper" data-aos="fade-right">
                        <div class="internet-service_img internet-service_img-asoview"></div>
                        <div class="internet-service_content">
                            <div class="internet-service_content-wrapper-right">
                                <div><b>asoview!</b></div>
                                <div>
                                    <p>Japan's largest leisure market place</p>
                                    <p>asoview! is a marketplace of leisure that introduces 6,000 types of leisure ,
                                        including
                                        5000 facilities, 19,000 plans, from Hokkaido to Okinawa, example outdoor sports
                                        and
                                        experirence of making things , amusement parks, aquariums, day trips and hot
                                        springs.</p>
                                    <p><u><a href="https://www.asoview.com/">Access</a></u></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="internet-service_wrapper" data-aos="fade-left">
                        <div class="internet-service_content">
                            <div class="internet-service_content-wrapper-left">
                                <div><b>asoview! NEWS</b></div>
                                <div>
                                    <p>You want to go out and explore the word when you read</p>
                                    <p>asoview! NEWS is a news platform that sends event information that can be easily
                                        visited, such as events to be held on weekends, new shop , exhibitions of art
                                        museums
                                        and other activities .</p>
                                    <p><u><a href="https://asoview-news.com/">Access</a></u></p>
                                </div>
                            </div>
                        </div>
                        <div class="internet-service_img internet-service_img-new"></div>
                    </div>
                    <div class="internet-service_wrapper" data-aos="fade-right">
                        <div class="internet-service_img internet-service_img-trip"></div>
                        <div class="internet-service_content">
                            <div class="internet-service_content-wrapper-right">
                                <div><b>asoview! TRIP</b></div>
                                <div>
                                    <p>WEB magazine that connects "travel" with you</p>
                                    <p>asoview! TRIP is a web magazine that connects you with "journey". Send people
                                        information about spot travel that it really is a place you shouldn't miss , and
                                        review
                                        form an experienced traveler . We will deliver information to everyone that can
                                        bring to
                                        fun friendship. Make the most of your time in a new city – explore, make friends
                                        and
                                        have a wonderful adventure . Why do not you plan a trip with asoview! TRIP?</p>
                                    <p><u><a href="https://asoview-trip.com/">Access</a></u></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="internet-service_wrapper" data-aos="fade-left">
                        <div class="internet-service_content">
                            <div class="internet-service_content-wrapper-left">
                                <div><b>asoview! GIFT</b></div>
                                <div>
                                    <p>A gift service that gives an experience of "extraordinary"</p>
                                    <p>asoview! GIFT is a gift service that can give "unusual" experiences such as
                                        making,
                                        cultural experiences and outdoor experiences offered by asoview!</p>
                                    <p><u><a href="https://asoview.gift/">Access</a></u></p>
                                </div>
                            </div>
                        </div>
                        <div class="internet-service_img internet-service_img-gift"></div>
                    </div>
                </div>
                <div class="internet-service" id="marketing">
                    <div class="internet-service_title marketing-promotion_title">
                        Marketing promotion support project
                    </div>
                    <div class="internet-service_wrapper" data-aos="fade-right">
                        <div class="internet-service_img internet-service_img-ad-platform"></div>
                        <div class="internet-service_content">
                            <div class="internet-service_content-wrapper-right">
                                <div><b>asoview! ad platform</b></div>
                                <div>
                                    <p>Internet advertising service</p>
                                    <p>The asoview! ad platform is an Internet advertisement service that can convey
                                        messages to active consumers that help find and collect information to making
                                        better
                                        leisure time.</p>
                                    <p><u><a href="https://www.asoview.co.jp/contact/">Access</a></u></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="internet-service_wrapper" data-aos="fade-left">
                        <div class="internet-service_content">
                            <div class="internet-service_content-wrapper-left">
                                <div><b>asoview! Promotion</b></div>
                                <div>
                                    <p>Promotional service</p>
                                    <p>Asoview! Promotion is an experience that can give consumers a more memorable
                                        experience by enhancing the interests of products by approaching at the moment
                                        of
                                        thinking what to do next holiday and the moment of enjoying leisure .</p>
                                    <p><u><a href="https://asoview.gift/contents/feature/campaign">Access</a></u></p>
                                </div>
                            </div>
                        </div>
                        <div class="internet-service_img internet-service_img-promotion"></div>
                    </div>
                </div>
                <div class="internet-service" id="erb-business">
                    <div class="internet-service_title">
                        ERP business
                    </div>
                    <div class="internet-service_wrapper" data-aos="fade-right">
                        <div class="internet-service_img internet-service_img-satsuki"></div>
                        <div class="internet-service_content">
                            <div class="internet-service_content-wrapper-right">
                                <div><b>satsuki</b></div>
                                <div>
                                    <p>Online reservation and ticket sales management system for leisure facilities</p>
                                    <p>Satsuki is a new sales / customer management system that makes reservation for
                                        outdoor sports and experirence of making things , amusement parks, aquariums,
                                        day
                                        trip hot springs and other leisure facilities , maximizing business efficiency
                                        and
                                        attract more customers.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="internet-service_wrapper" data-aos="fade-left">
                        <div class="internet-service_content">
                            <div class="internet-service_content-wrapper-left">
                                <div><b>asoview! news platform</b></div>
                                <div>
                                    <p>Event / news information distribution service for commercial facilities</p>
                                    <p>The asoview! news platform is an information dissemination platform that can
                                        transmit its event information, sale information, news, etc. to latent customers
                                        who
                                        are thinking what to do next holiday.</p>
                                </div>
                            </div>
                        </div>
                        <div class="internet-service_img internet-service_img-new-platform"></div>
                    </div>
                    <div class="internet-service_wrapper" data-aos="fade-right">
                        <div class="internet-service_img internet-service_img-area-gate"></div>
                        <div class="internet-service_content">
                            <div class="internet-service_content-wrapper-right">
                                <div><b>AREA GATE</b></div>
                                <div>
                                    <p>Tourism product sales management system for Municipalities · Tourist Association
                                        ·
                                        DMO</p>
                                    <p>AREA GATE provides various data such as sales management and customer analysis,
                                        centering on circulation of tourism products on the Internet necessary for the
                                        municipalities · tourist association · DMO to expand the region's tourism
                                        consumption · tourist numbers .</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="consulting" data-aos="fade-up" id="consulting">
                    <div class="consulting_title">Consulting Business</div>
                    <p>In the consulting business, we utilize know-how accumulated for growing brands to leisure
                        facilities for municipalities - tourist association - DMO that have contact points at brands,
                        maximizing the attracting effect of facilities . We provide consulting services to realize
                        expansion of tourism consumption.</p>
                    <div class="consulting_content">
                        <div>Support Degital Marketing</div>
                        <div>Renewal Home Page</div>
                        <div>Owned Media Support</div>
                        <div>Tourism Strategic Plan</div>
                        <div>Human Resource Development & Training</div>
                        <div>Tourism Products Design</div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <%- include('../fragment/footer') %>
</div>
<%- include('../fragment/common-scripts') %>
</body>
</html>