<!DOCTYPE html>
<html>
<%- include('../fragment/head') %>
<body>
<div class="l-container">
    <%- include('../fragment/loading') %>
    <%- include('../fragment/header') %>
    <div class="l-contents">
        <div class="staff-top-background"></div>
        <section class="section member">
            <h3>Asoview Member</h3>
            <div class="member-container">
                <div class="member-item">
                    <div class="member-photo">
                        <img src="/images/company-member/vi1.jpg">
                        <div class="member-photo-hover">
                            <img src="/images/company-member/vi2.jpg">
                        </div>
                    </div>
                </div>
                <div class="member-item">
                    <div class="member-photo">
                        <img src="/images/company-member/ha1.jpg">
                        <div class="member-photo-hover">
                            <img src="/images/company-member/ha2.jpg">
                        </div>
                    </div>
                </div>
                <div class="member-item">
                    <div class="member-photo">
                        <img src="/images/company-member/tram1.jpg">
                        <div class="member-photo-hover">
                            <img src="/images/company-member/tram2.jpg">
                        </div>
                    </div>
                </div>
                <div class="member-item">
                    <div class="member-photo">
                        <img src="/images/company-member/phuc1.jpg">
                        <div class="member-photo-hover">
                            <img src="/images/company-member/phuc2.jpg">
                        </div>
                    </div>
                </div>
                <div class="member-item">
                    <div class="member-photo">
                        <img src="/images/company-member/khai1.jpg">
                        <div class="member-photo-hover">
                            <img src="/images/company-member/khai2.jpg">
                        </div>
                    </div>
                </div>
                <div class="member-item">
                    <div class="member-photo">
                        <img src="/images/company-member/long1.jpg">
                        <div class="member-photo-hover">
                            <img src="/images/company-member/long2.jpg">
                        </div>
                    </div>
                </div>
                <div class="member-item">
                    <div class="member-photo">
                        <img src="/images/company-member/nhan1.jpg">
                        <div class="member-photo-hover">
                            <img src="/images/company-member/nhan2.jpg">
                        </div>
                    </div>
                </div>
                <div class="member-item">
                    <div class="member-photo">
                        <img src="/images/company-member/thao1.jpg">
                        <div class="member-photo-hover">
                            <img src="/images/company-member/thao2.jpg">
                        </div>
                    </div>
                </div>
                <div class="member-item">
                    <div class="member-photo">
                        <img src="/images/company-member/khang1.jpg">
                        <div class="member-photo-hover">
                            <img src="/images/company-member/khang2.jpg">
                        </div>
                    </div>
                </div>
                <div class="member-item">
                    <div class="member-photo">
                        <img src="/images/company-member/nhanjr1.jpg">
                        <div class="member-photo-hover">
                            <img src="/images/company-member/nhanjr2.jpg">
                        </div>
                    </div>
                </div>
                <div class="member-item">
                    <div class="member-photo">
                        <img src="/images/company-member/tan1.jpg">
                        <div class="member-photo-hover">
                            <img src="/images/company-member/tan2.jpg">
                        </div>
                    </div>
                </div>
                <div class="member-item">
                    <div class="member-photo">
                        <img src="/images/company-member/khuong1.jpg">
                        <div class="member-photo-hover">
                            <img src="/images/company-member/khuong2.jpg">
                        </div>
                    </div>
                </div>
                <div class="member-item">
                    <div class="member-photo">
                        <img src="/images/company-member/phuong1.jpg">
                        <div class="member-photo-hover">
                            <img src="/images/company-member/phuong2.jpg">
                        </div>
                    </div>
                </div>
                <div class="member-item">
                    <div class="member-photo">
                        <img src="/images/company-member/tuc1.jpg">
                        <div class="member-photo-hover">
                            <img src="/images/company-member/tuc2.jpg">
                        </div>
                    </div>
                </div>
                <div class="member-item">
                    <div class="member-photo">
                        <img src="/images/company-member/khuongjr1.jpg">
                        <div class="member-photo-hover">
                            <img src="/images/company-member/khuongjr2.jpg">
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <%- include('../fragment/footer') %>
</div>
<%- include('../fragment/common-scripts') %>
</body>
</html>