<!DOCTYPE html>
<html>
<%- include('../fragment/head') %>
<body>
<div class="l-container">
    <%- include('../fragment/loading') %>
    <%- include('../fragment/header') %>
    <div class="l-contents">
        <section class="section member">
            <div class="section-header">
                <div class="top-header staff-header">Team</div>
            </div>
            <div class="member-title">
                <div class="asoview-member"><%=t('Asoview member')%></div>
            </div>
            <div class="member-container">
                <div class="member-item">
                    <div class="member-photo">
                        <img src="https://i.imgur.com/oQzQvLh.jpg">
                        <div class="member-position">HR Manager</div>
                        <div class="member-photo-hover">
                            <img src="https://i.imgur.com/0ixvmUS.jpg">
                        </div>
                    </div>
                    <div class="member-content">
                        <div class="member-name"><%=t('Name 18')%>
                        </div>
                        <div class="member-hoppy"><%=t('Hobby 18')%>
                        </div>
                        <div class="member-message"><%=t('Message 18')%>
                        </div>
                    </div>
                </div>
                <div class="member-item">
                    <div class="member-photo">
                        <img src="https://i.imgur.com/uvNADie.jpg">
                        <div class="member-position">HR Assistant</div>
                        <div class="member-photo-hover">
                            <img src="https://i.imgur.com/Hv6m6tu.jpg">
                        </div>
                    </div>
                    <div class="member-content">
                        <div class="member-name"><%=t('Name 14')%>
                        </div>
                        <div class="member-hoppy"><%=t('Hobby 14')%>
                        </div>
                        <div class="member-message"><%=t('Message 14')%>
                        </div>
                    </div>
                </div>
                
                <div class="member-item">
                    <div class="member-photo">
                        <img src="https://i.imgur.com/JOrhXzN.jpg">
                        <div class="member-position">Engineer</div>
                        <div class="member-photo-hover">
                            <img src="https://i.imgur.com/PaVeskf.jpg">
                        </div>
                    </div>
                    <div class="member-content">
                        <div class="member-name"><%=t('Name 2')%>
                        </div>
                        <div class="member-hoppy"><%=t('Hobby 2')%>
                        </div>
                        <div class="member-message"><%=t('Message 2')%>
                        </div>
                    </div>
                </div>
                <div class="member-item">
                    <div class="member-photo">
                        <img src="https://i.imgur.com/7R3qcIa.jpg">
                        <div class="member-position">ITC Leader</div>
                        <div class="member-photo-hover">
                            <img src="https://i.imgur.com/H1KVVcm.jpg">
                        </div>
                    </div>
                    <div class="member-content">
                        <div class="member-name"><%=t('Name 4')%>
                        </div>
                        <div class="member-hoppy"><%=t('Hobby 4')%>
                        </div>
                        <div class="member-message"><%=t('Message 4')%>
                        </div>
                    </div>
                </div>
                <div class="member-item">
                    <div class="member-photo">
                        <img src="https://i.imgur.com/ogAkxVz.jpg">
                        <div class="member-position">IT Comtor</div>
                        <div class="member-photo-hover">
                            <img src="https://i.imgur.com/al3TB6b.jpg">
                        </div>
                    </div>
                    <div class="member-content">
                        <div class="member-name"><%=t('Name 13')%>
                        </div>
                        <div class="member-hoppy"><%=t('Hobby 13')%>
                        </div>
                        <div class="member-message"><%=t('Message 13')%>
                        </div>
                    </div>
                </div>
                
                
                <div class="member-item">
                    <div class="member-photo">
                        <img src="https://i.imgur.com/0tGzbYG.jpg">
                        <div class="member-position">IT Comtor</div>
                        <div class="member-photo-hover">
                            <img src="https://i.imgur.com/EKQetiu.jpg">
                        </div>
                    </div>
                    <div class="member-content">
                        <div class="member-name"><%=t('Name 1')%>
                        </div>
                        <div class="member-hoppy"><%=t('Hobby 1')%>
                        </div>
                        <div class="member-message"><%=t('Message 1')%>
                        </div>
                    </div>
                </div>
                <div class="member-item">
                    <div class="member-photo">
                        <img src="https://i.imgur.com/xrsKd4E.jpg">
                        <div class="member-position">Engineer</div>
                        <div class="member-photo-hover">
                            <img src="https://i.imgur.com/1DdMo2h.jpg">
                        </div>
                    </div>
                    <div class="member-content">
                        <div class="member-name"><%=t('Name 9')%>
                        </div>
                        <div class="member-hoppy"><%=t('Hobby 9')%>
                        </div>
                        <div class="member-message"><%=t('Message 9')%>
                        </div>
                    </div>
                </div>
                <div class="member-item">
                    <div class="member-photo">
                        <img src="https://i.imgur.com/KVKfy4G.jpg">
                        <div class="member-position">Leader</div>
                        <div class="member-photo-hover">
                            <img src="https://i.imgur.com/oLGkxnK.jpg">
                        </div>
                    </div>
                    <div class="member-content">
                        <div class="member-name"><%=t('Name 17')%>
                        </div>
                        <div class="member-hoppy"><%=t('Hobby 17')%>
                        </div>
                        <div class="member-message"><%=t('Message 17')%>
                        </div>
                    </div>
                </div>
                <div class="member-item">
                    <div class="member-photo">
                        <img src="https://i.imgur.com/G6hCEgW.jpg">
                        <div class="member-position">IT Comtor</div>
                        <div class="member-photo-hover">
                            <img src="https://i.imgur.com/ekUv2Ib.jpg">
                        </div>
                    </div>
                    <div class="member-content">
                        <div class="member-name"><%=t('Name 7')%>
                        </div>
                        <div class="member-hoppy"><%=t('Hobby 7')%>
                        </div>
                        <div class="member-message"><%=t('Message 7')%>
                        </div>
                    </div>
                </div>
                <div class="member-item">
                    <div class="member-photo">
                        <img src="https://i.imgur.com/laYROyj.jpg">
                        <div class="member-position">Engineer</div>
                        <div class="member-photo-hover">
                            <img src="https://i.imgur.com/cg4qPYw.jpg">
                        </div>
                    </div>
                    <div class=" member-content">
                        <div class="member-name"><%=t('Name 5')%>
                        </div>
                        <div class="member-hoppy"><%=t('Hobby 5')%>
                        </div>
                        <div class="member-message"><%=t('Message 5')%>
                        </div>
                    </div>
                </div>
                <div class="member-item">
                    <div class="member-photo">
                        <img src="https://i.imgur.com/s643Hy4.jpg">
                        <div class="member-position">Engineer</div>
                        <div class="member-photo-hover">
                            <img src="https://i.imgur.com/TAF9HPV.jpg">
                        </div>
                    </div>
                    <div class="member-content">
                        <div class="member-name"><%=t('Name 6')%>
                        </div>
                        <div class="member-hoppy"><%=t('Hobby 6')%>
                        </div>
                        <div class="member-message"><%=t('Message 6')%>
                        </div>
                    </div>
                </div>
                <div class="member-item">
                    <div class="member-photo">
                        <img src="https://i.imgur.com/NnbrChW.jpg">
                        <div class="member-position">Engineer</div>
                        <div class="member-photo-hover">
                            <img src="https://i.imgur.com/yn4uNXK.jpg">
                        </div>
                    </div>
                    <div class="member-content">
                        <div class="member-name"><%=t('Name 12')%>
                        </div>
                        <div class="member-hoppy"><%=t('Hobby 12')%>
                        </div>
                        <div class="member-message"><%=t('Message 12')%>
                        </div>
                    </div>
                </div>
                
            
            </div>
            <div class="part-of-family">
                <div class="part-of-family_wrapper">
                    <img class="part-of-family_img" src="https://i.imgur.com/YDnoqTR.jpg">
                </div>
                <div class="part-of-family_text">
                    <div class="part-of-family_question">
                        <%=t('family question')%>
                    </div>
                    <div class="part-of-family_answer">
                        <%=t('family answer')%>
                    </div>
                    <div class="part-of-family_link">
                        <a href="/career" style="color: red"><%=t('family link')%> <i class="fas fa-angle-double-right"></i></a>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <%- include('../fragment/footer') %>
</div>
<%- include('../fragment/common-scripts') %>
</body>
</html>