<!DOCTYPE html>
<html>
<%- include('../fragment/head') %>
<body>
<div class="l-container">
    <%- include('../fragment/loading') %>
    <%- include('../fragment/header') %>
    <div class="l-contents">
        <section class="section member">
            <div class="section-header">
                <div class="top-header staff-header">Staff</div>
            </div>
            <div class="member-title">
                <div class="asoview-member">ASOVIEW MEMBERS</div>
            </div>
            <div class="member-container">
                <div class="member-item">
                    <div class="member-photo">
                        <img src="https://i.imgur.com/oQzQvLh.jpg">
                        <div class="member-position">HR</div>
                        <div class="member-photo-hover">
                            <img src="https://i.imgur.com/0ixvmUS.jpg">
                        </div>
                    </div>
                    <div class="member-content">
                        <div class="member-name">Nguyễn Thị Ái Vi
                        </div>
                        <div class="member-hoppy">Yêu thích du lich
                        </div>
                        <div class="member-message">Message：Hãy luôn nhìn về phía trước
                        </div>
                    </div>
                </div>
                <div class="member-item">
                    <div class="member-photo">
                        <img src="https://i.imgur.com/4yFS5aA.jpg">
                        <div class="member-position">HR</div>
                        <div class="member-photo-hover">
                            <img src="https://i.imgur.com/uF63f3X.jpg">
                        </div>
                    </div>
                    <div class="member-content">
                        <div class="member-name">Nguyễn Thị Ngọc Hà
                        </div>
                        <div class="member-hoppy">Yêu thích đọc tiểu thuyết và xem phim
                        </div>
                        <div class="member-message">Message: "Nếu hành động bạn sẽ thành công"
                        </div>
                    </div>
                </div>
                <div class="member-item">
                    <div class="member-photo">
                        <img src="https://i.imgur.com/Pjw4WOw.jpg">
                        <div class="member-position">Engineer</div>
                        <div class="member-photo-hover">
                            <img src="https://i.imgur.com/4DOSSk3.jpg">
                        </div>
                    </div>
                    <div class="member-content">
                        <div class="member-name">Phúc Đặng
                        </div>
                        <div class="member-hoppy">Yêu thích thể thao giúp đỡ mọi người và du lịch
                        </div>
                        <div class="member-message">Message: "Bạn có thể chiến thắng nếu bạn muốn"
                        </div>
                    </div>
                </div>
                <div class="member-item">
                    <div class="member-photo">
                        <img src="https://i.imgur.com/faGrUVq.jpg">
                        <div class="member-position">Engineer</div>
                        <div class="member-photo-hover">
                            <img src="https://i.imgur.com/FA2Uo8z.jpg">
                        </div>
                    </div>
                    <div class="member-content">
                        <div class="member-name">Nguyễn Lê Đinh Khải
                        </div>
                        <div class="member-hoppy">Yêu thích research kỹ thuật mới , có thú vui câu cá , đánh cờ và đôi
                            khi là tận hưởng ngày nghỉ theo kiểu lazy day
                        </div>
                        <div class="member-message">Message: "Không ai đánh giá bạn ngoài bản thân bạn"
                        </div>
                    </div>
                </div>
                <div class="member-item">
                    <div class="member-photo">
                        <img src="https://i.imgur.com/UoEPkSF.jpg">
                        <div class="member-position">ITC</div>
                        <div class="member-photo-hover">
                            <img src="https://i.imgur.com/dEG5KmM.jpg">
                        </div>
                    </div>
                    <div class="member-content">
                        <div class="member-name">Trần Phi Long
                        </div>
                        <div class="member-hoppy">Sở thích chụp hình , du lịch , học ngoại ngữ , bơi lội và muốn trở
                            thành nhiếp ảnh gia nổi tiếng trong tương lai .
                        </div>
                        <div class="member-message">Message："Mỗi người đều có sức mạnh thay đổi thế giới và giúp đỡ mọi
                            người " (Laura Marano)
                        </div>
                    </div>
                </div>
                <div class="member-item">
                    <div class="member-photo">
                        <img src="https://i.imgur.com/gb8i2am.jpg">
                        <div class="member-position">ITC</div>
                        <div class="member-photo-hover">
                            <img src="https://i.imgur.com/ZWpF2fn.jpg">
                        </div>
                    </div>
                    <div class="member-content">
                        <div class="member-name">Trần Nguyệt Thu
                        </div>
                        <div class="member-hoppy">Yêu thích du lịch , xem phim , chụp hình
                        </div>
                        <div class="member-message">Message："Thế giới là một cuốn sách, và ai không đi chỉ đọc được một
                            trang." – St. Augustine
                        </div>
                    </div>
                </div>
                <div class="member-item">
                    <div class="member-photo">
                        <img src="https://i.imgur.com/tv7nYow.jpg">
                        <div class="member-position">Engineer</div>
                        <div class="member-photo-hover">
                            <img src="https://i.imgur.com/12EzVSh.jpg">
                        </div>
                    </div>
                    <div class="member-content">
                        <div class="member-name">Võ Thành Nhân
                        </div>
                        <div class="member-hoppy">Thích research kỹ thuật mới , nhâm nhi cafe với bạn bè và cùng bạn bè
                            thảo luận kỹ thuật
                        </div>
                        <div class="member-message">Message："Làm việc với trách nhiệm"
                        </div>
                    </div>
                </div>
                <div class="member-item">
                    <div class="member-photo">
                        <img src="https://i.imgur.com/9Ifxwrd.jpg">
                        <div class="member-position">Engineer</div>
                        <div class="member-photo-hover">
                            <img src="https://i.imgur.com/OtD92yv.jpg">
                        </div>
                    </div>
                    <div class="member-content">
                        <div class="member-name">Dư Hiếu Thảo
                        </div>
                        <div class="member-hoppy">Yêu âm nhạc
                        </div>
                        <div class="member-message">Message："Nổ lực chăm chỉ làm việc"
                        </div>
                    </div>
                </div>
                <div class="member-item">
                    <div class="member-photo">
                        <img src="https://i.imgur.com/e08JLps.jpg">
                        <div class="member-position">ITC</div>
                        <div class="member-photo-hover">
                            <img src="https://i.imgur.com/9fmpPOw.jpg">
                        </div>
                    </div>
                    <div class="member-content">
                        <div class="member-name">Trần Ngọc Lâm
                        </div>
                        <div class="member-hoppy">Tôi thích đọc sách và chụp hình
                        </div>
                        <div class="member-message">Message："Tương lai được tạo ra bởi bạn của ngày hôm nay chứ không phải ngày mai"
                        </div>
                    </div>
                </div>
                <div class="member-item">
                    <div class="member-photo">
                        <img src="https://i.imgur.com/GgTFIK4.jpg">
                        <div class="member-position">Engineer</div>
                        <div class="member-photo-hover">
                            <img src="https://i.imgur.com/cvrLeBu.jpg">
                        </div>
                    </div>
                    <div class="member-content">
                        <div class="member-name">Phạm Thành Nhân
                        </div>
                        <div class="member-hoppy">Sở thích chơi video game , board game , phim ảnh , âm nhạc
                        </div>
                        <div class="member-message">Message："Thích những cái bạn làm , làm những việc bạn thích"
                        </div>
                    </div>
                </div>
                <div class="member-item">
                    <div class="member-photo">
                        <img src="https://i.imgur.com/fdHxngc.jpg">
                        <div class="member-position">Engineer</div>
                        <div class="member-photo-hover">
                            <img src="https://i.imgur.com/N7ojbAg.jpg">
                        </div>
                    </div>
                    <div class="member-content">
                        <div class="member-name">Lê Nguyên Khang
                        </div>
                        <div class="member-hoppy">Yêu thích manga , du lịch , phim ảnh và kỹ thuật
                        </div>
                        <div class="member-message">Message："Một mình ta làm được rất ít , cùng nhau chúng ta làm được
                            rất nhiều" --Helen Keller
                        </div>
                    </div>
                </div>
                <div class="member-item">
                    <div class="member-photo">
                        <img src="https://i.imgur.com/w62M7Jc.jpg">
                        <div class="member-position">ITC</div>
                        <div class="member-photo-hover">
                            <img src="https://i.imgur.com/ZHOfFgE.jpg">
                        </div>
                    </div>
                    <div class="member-content">
                        <div class="member-name">Nguyễn Văn Tân
                        </div>
                        <div class="member-hoppy">Yêu thích đọc sách và du lịch
                        </div>
                        <div class="member-message">Message："Hãy làm những công việc mà bản thân yêu thích"
                        </div>
                    </div>
                </div>
                <div class="member-item">
                    <div class="member-photo">
                        <img src="https://i.imgur.com/OxRla48.jpg">
                        <div class="member-position">Engineer</div>
                        <div class="member-photo-hover">
                            <img src="https://i.imgur.com/8Ab2HQx.jpg">
                        </div>
                    </div>
                    <div class="member-content">
                        <div class="member-name">Đỗ Minh Khương
                        </div>
                        <div class="member-hoppy">Yêu thích bơi lội và du lịch
                        </div>
                        <div class="member-message">Message："Rất vui được làm việc chung với mọi người"
                        </div>
                    </div>
                </div>
                <div class="member-item">
                    <div class="member-photo">
                        <img src="https://i.imgur.com/lKNzGcU.jpg">
                        <div class="member-position">Engineer</div>
                        <div class="member-photo-hover">
                            <img src="https://i.imgur.com/FhB9zOg.jpg">
                        </div>
                    </div>
                    <div class=" member-content">
                        <div class="member-name">Trần Minh Phương
                        </div>
                        <div class="member-hoppy">Yêu thích đá bóng
                        </div>
                        <div class="member-message">Message："Không ngừng cố gắng"
                        </div>
                    </div>
                </div>
                <div class="member-item">
                    <div class="member-photo">
                        <img src="https://i.imgur.com/033IDod.jpg">
                        <div class="member-position">Engineer</div>
                        <div class="member-photo-hover">
                            <img src="https://i.imgur.com/2ZGzQHA.jpg">
                        </div>
                    </div>
                    <div class="member-content">
                        <div class="member-name">Đặng Thanh Túc
                        </div>
                        <div class="member-hoppy">Yêu thích bóng đá và du lịch
                        </div>
                        <div class="member-message">Message："Mọi nỗ lực sẽ dẫn đến thành công"
                        </div>
                    </div>
                </div>
                <div class="member-item">
                    <div class="member-photo">
                        <img src="https://i.imgur.com/RNrzzeT.jpg">
                        <div class="member-position">Engineer</div>
                        <div class="member-photo-hover">
                            <img src="https://i.imgur.com/OUjP5e7.jpg">
                        </div>
                    </div>
                    <div class="member-content">
                        <div class="member-name">Nguyễn Đăng Khương
                        </div>
                        <div class="member-hoppy">Yêu thích game và âm nhạc
                        </div>
                        <div class="member-message">Message："Cố gắng hết sức"
                        </div>
                    </div>
                </div>
                <div class="member-item">
                    <div class="member-photo">
                        <img src="https://i.imgur.com/j7rkVUx.jpg">
                        <div class="member-position">ITC</div>
                        <div class="member-photo-hover">
                            <img src="https://i.imgur.com/j7rkVUx.jpg">
                        </div>
                    </div>
                    <div class="member-content">
                        <div class="member-name">Nguyễn Thạch Vũ
                        </div>
                        <div class="member-hoppy">Thích xem phim , du lịch cùng gia đình , học kỹ thuật mới để áp dụng cho công việc , hứng thú với IoT...
                        </div>
                        <div class="member-message">Message："Sử dụng công nghệ kiến tạo ra nhiều giá trị cuộc sống"
                        </div>
                    </div>
                </div>
                <div class="member-item">
                    <div class="member-photo">
                        <img src="https://i.imgur.com/F78JcYF.jpg">
                        <div class="member-position">ITC</div>
                        <div class="member-photo-hover">
                            <img src="https://i.imgur.com/orzOHAa.jpg">
                        </div>
                    </div>
                    <div class="member-content">
                        <div class="member-name">Trần Thanh Thiên Trâm
                        </div>
                        <div class="member-hoppy">Yêu thích du lịch , chụp ảnh , smartphone game
                        </div>
                        <div class="member-message">Message："Rất vui vì có thể gặp gỡ làm việc tại Asoview"
                        </div>
                    </div>
                </div>
            </div>
            <div class="part-of-family">
                <div class="part-of-family_wrapper">
                    <img class="part-of-family_img" src="https://i.imgur.com/YDnoqTR.jpg">
                </div>
                <div class="part-of-family_text">
                    <div class="part-of-family_question">
                        Want to be a part of our family ?
                    </div>
                    <div class="part-of-family_answer">
                        To enhance lives through technology & creative together .
                    </div>
                    <div class="part-of-family_link">
                        Explore open position >>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <%- include('../fragment/footer') %>
</div>
<%- include('../fragment/common-scripts') %>
</body>
</html>