<!DOCTYPE html>
<html>
<%- include('../fragment/head') %>
<body>
<div class="l-container">
    <%- include('../fragment/loading') %>
    <%- include('../fragment/header') %>
    <div class="l-contents">
        <div class="staff-top-background"></div>
        <section class="section member">
            <h3>Asoview Member</h3>
            <div class="member-container">
                <div class="member-item">
                    <div class="member-photo">
                        <img src="https://i.imgur.com/6aqpeJh.jpg">
                        <div class="member-photo-hover">
                            <img src="https://i.imgur.com/xKjNxKU.jpg">
                        </div>
                    </div>
                </div>
                <div class="member-item">
                    <div class="member-photo">
                        <img src="https://i.imgur.com/06vZweL.jpg">
                        <div class="member-photo-hover">
                            <img src="https://i.imgur.com/WPP7WgJ.jpg">
                        </div>
                    </div>
                </div>
                <div class="member-item">
                    <div class="member-photo">
                        <img src="https://i.imgur.com/u6hFcjN.jpg">
                        <div class="member-photo-hover">
                            <img src="https://i.imgur.com/rJkKMvr.jpg">
                        </div>
                    </div>
                </div>
                <div class="member-item">
                    <div class="member-photo">
                        <img src="https://i.imgur.com/lUvebr9.jpg">
                        <div class="member-photo-hover">
                            <img src="https://i.imgur.com/vzPNCs7.jpg">
                        </div>
                    </div>
                </div>
                <div class="member-item">
                    <div class="member-photo">
                        <img src="https://i.imgur.com/zZAXgal.jpg">
                        <div class="member-photo-hover">
                            <img src="https://i.imgur.com/dvMPVsU.jpg">
                        </div>
                    </div>
                </div>
                <div class="member-item">
                    <div class="member-photo">
                        <img src="https://i.imgur.com/2oonXVB.jpg">
                        <div class="member-photo-hover">
                            <img src="https://i.imgur.com/SggJ79q.jpg">
                        </div>
                    </div>
                </div>
                <div class="member-item">
                    <div class="member-photo">
                        <img src="https://i.imgur.com/lOZeN1Y.jpg">
                        <div class="member-photo-hover">
                            <img src="https://i.imgur.com/SSv4sXH.jpg">
                        </div>
                    </div>
                </div>
                <div class="member-item">
                    <div class="member-photo">
                        <img src="https://i.imgur.com/jiq2I31.jpg">
                        <div class="member-photo-hover">
                            <img src="https://i.imgur.com/TFOFjxN.jpg">
                        </div>
                    </div>
                </div>
                <div class="member-item">
                    <div class="member-photo">
                        <img src="https://i.imgur.com/xtMTYfY.jpg">
                        <div class="member-photo-hover">
                            <img src="https://i.imgur.com/fRrFaVP.jpg">
                        </div>
                    </div>
                </div>
                <div class="member-item">
                    <div class="member-photo">
                        <img src="https://i.imgur.com/SpZWGT5.jpg">
                        <div class="member-photo-hover">
                            <img src="https://i.imgur.com/WYPbSKq.jpg">
                        </div>
                    </div>
                </div>
                <div class="member-item">
                    <div class="member-photo">
                        <img src="https://i.imgur.com/G26FHeZ.jpg">
                        <div class="member-photo-hover">
                            <img src="https://i.imgur.com/8CEoLTm.jpg">
                        </div>
                    </div>
                </div>
                <div class="member-item">
                    <div class="member-photo">
                        <img src="https://i.imgur.com/cpFbRev.jpg">
                        <div class="member-photo-hover">
                            <img src="https://i.imgur.com/4WMHx5T.jpg">
                        </div>
                    </div>
                </div>
                <div class="member-item">
                    <div class="member-photo">
                        <img src="https://i.imgur.com/XslUEqZ.jpg">
                        <div class="member-photo-hover">
                            <img src="https://i.imgur.com/SHlYMXv.jpg">
                        </div>
                    </div>
                </div>
                <div class="member-item">
                    <div class="member-photo">
                        <img src="https://i.imgur.com/CWRt5yf.jpg">
                        <div class="member-photo-hover">
                            <img src="https://i.imgur.com/a61Bpdx.jpg">
                        </div>
                    </div>
                </div>
                <div class="member-item">
                    <div class="member-photo">
                        <img src="https://i.imgur.com/rbh4xzj.jpg">
                        <div class="member-photo-hover">
                            <img src="https://i.imgur.com/bIpqQqM.jpg">
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <%- include('../fragment/footer') %>
</div>
<%- include('../fragment/common-scripts') %>
</body>
</html>